{
    "swagger": "2.0",
    "info": {
        "title": "BrandLovers Marketplace API",
        "description": "Allows sellers to: 1) Load products definitions to the BrandLovers marktplace. 2) Receive and update orders status. 3) Receive and update shipping information. 4) Receive and update customer tickets. All requests use consume application/json and return application/json. All request must be authenticated and use HTTPS.",
        "version": "1.0.0"
    },
    "host": "api.brandlovers.com",
    "schemes": [
        "https"
    ],
    "basePath": "/marketplace/v1",
    "produces": [
        "application/json"
    ],
    "paths": {
        "/products": {
            "post": {
                "responses": {
                    "200": {
                        "description": "Server received your request and will start background processing."
                    },
                    "400": {
                        "description": "Bad Request."
                    },
                    "401": {
                        "description": "Not authenticated. Check your headers, `authorization` is required."
                    }
                },
                "description": "Use this enpoint to upload new product information to the Marketplace. This enpoint expects a json document with array of products. The server will load each product as an individual item that can be manipulated using your own `skuSellerId`. This system is idenpontent, this means that once a `skuSellerId` is created it cannot be re-created using this tool. In order to update use the PUT method with the correct `skuSellerId`",
                "tags": [
                    "products"
                ],
                "summary": "Allows new products to be loaded into the marketplace",
                "operationId": "postProducts",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. That's all you need to authorize. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "body",
                        "description": "JSON with a list of new products to be updloaded to the platform",
                        "name": "products",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Product"
                            }
                        }
                    }
                ]
            },
            "get": {
                "responses": {
                    "200": {
                        "description": "Successful request."
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated. Check your request header. `authorization` field is required."
                    },
                    "403": {
                          "description": "Server refused to process your request. Please check the API SLA and reduce number of requests per second."
                    }
                },
                "description": "Get a list of my products loaded sucessfully loaded into the Marketplace. This dosen't means that products are eligible for sale, just that they are loaded in the database.",
                "tags": [
                    "products"
                ],
                "summary": "Returns a list of products loaded into BrandLovers Marketplace",
                "operationId": "getProducts",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "security": [
                  {
                    "authorization": []
                  }
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. That's all you need to authorize. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "query",
                        "description": "Number or items to skip when executing query. List starts at zero. If omitted will default to zero. Use this conjuction with `limit` to paginate across the results.",
                        "name": "offset",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "description": "Number of items to retun. Defaults to 100. Max alowed is 200. Use this conjuction with `offset` to paginate across the results. ",
                        "name": "limit",
                        "required": false,
                        "type": "integer"
                    }
                ]
            }
        },
        "/product/{skuSellerId}": {
            "get": {
                "responses": {
                    "200": {
                        "description": "Sucess fetching the object",
                        "schema": {
                            "$ref": "#/definitions/GetProduct"
                        }
                    },
                    "400": {
                        "description": "Bad request. In general this means a invalid skuSellerId."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated. Check your request header. `authorization` field is required."
                    },
                    "403": {
                        "description": "Server refused to process your request. Please check the API SLA and reduce number of requests per second."
                    },
                    "404": {
                        "description": "Object not found. In general this means a invalid skuSellerId."
                    },
                    "405": {
                        "description": "Invalid method."
                    }
                },
                "description": "Returns all information of a single product using the seller `skuSellerId`. This service will return a json document with product detail, status, price and invetory in the Brand Lovers marketplace",
                "tags": [
                    "product"
                ],
                "summary": "Returns details of a single product using the seller `skuSellerId`",
                "operationId": "getProduct",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "security": [
                  {
                    "authorization": []
                  }
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. That's all you need to authorize. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "path",
                        "description": "SKU ID do Lojista.",
                        "name": "skuSellerId",
                        "required": true,
                        "type": "string"
                    }
                ]
            },
            "put": {
                "responses": {
                    "200": {
                        "description": "Sucess processing your request."
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated. Check your request header. `authorization` field is required."
                    },
                    "403": {
                        "description": "Server refused to process your request. Please check the API SLA and reduce number of requests per second."
                    },
                    "404": {
                        "description": "Object not found."
                    }
                },
                "description": "Update a single product information such as name, brand, attribute, dimension, etc. Please note that data from your request will be merged with existing data. This allows you to update only certain fields without the need to re-inform unchanged fields. `skuSellerId` field is mandatory.",
                "tags": [
                    "products"
                ],
                "summary": "Update product details",
                "operationId": "putProduct",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "security": [
                  {
                    "authorization": []
                  }
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. That's all you need to authorize. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "path",
                        "description": "SKU do produto do lojista que deverá ser alterado.",
                        "name": "skuSellerId",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "description": "Parâmetros para alterar um produto enviado na carga.",
                        "name": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ProductUpdate"
                        }
                    }
                ]
            }
        },
        "/product": {
          "post": {
              "responses": {
                  "200": {
                      "description": "Server received your request and will start background processing."
                  },
                  "400": {
                      "description": "Bad Request."
                  },
                  "401": {
                      "description": "Not authenticated. Check your headers, `authorization` is required."
                  }
              },
              "description": "Use this enpoint to upload a single new product to the Marketplace. This enpoint expects a json document with one product. If you whant to upload multiple products in a single API call use POST /products method. The server will load each product as an individual item that can be manipulated using your own `skuSellerId`. This system is idenpontent, this means that once a `skuSellerId` is created it cannot be re-created using this tool. In order to update, edit or even delete a product use the PUT method with the correct referencing your `skuSellerId`",
              "tags": [
                  "products"
              ],
              "summary": "Allows new products to be loaded into the marketplace",
              "operationId": "postProduct",
              "produces": [
                  "application/json"
              ],
              "consumes": [
                  "application/json"
              ],
              "parameters": [
                  {
                      "in": "header",
                      "description": "Authorization token. That's all you need to authorize. The Authorization token can be found in your Admin console.",
                      "name": "authorization",
                      "type": "string",
                      "required": true
                  },
                  {
                      "in": "body",
                      "description": "JSON with a array of new products to be updloaded to the platform",
                      "name": "products",
                      "required": true,
                      "schema": {
                          "type": "array",
                          "items": {
                              "$ref": "#/definitions/Product"
                          }
                      }
                  }
              ]
          }
        },
        "/products/status": {
            "get": {
                "responses": {
                    "200": {
                        "description": "Success fetching results.",
                        "schema": {
                            "$ref": "#/definitions/GetSellerItemsStatusUpdatingResponse"
                        }
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "405": {
                        "description": "Invalid method."
                    }
                },
                "description": "Returns a list with seller products status and brief product information. Please note that this endpoint will not return all details of each product, just the status, skuSellerId and name. Also please note that this endpoint will return maximum 1000 products per call. For full details of a given procuct use GET /product/{skuSellerId}",
                "tags": [
                    "products"
                ],
                "summary": "Returns seller products status in the marketplace",
                "operationId": "getSellerItemsStatus",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. That's all you need to authorize. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "query",
                        "description": "Number or items to skip when executing query. List starts at zero. If omitted will default to zero. Use this conjuction with `limit` to paginate across the results.",
                        "name": "offset",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "description": "Number of items to return in this query. Min 1, max 1000. Use this conjuction with `offset` to paginate across the results.",
                        "name": "limit",
                        "required": false,
                        "type": "integer"
                    }
                ]
            },
            "put": {
                "responses": {
                    "200": {
                        "description": "Success processing your request."
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated. Check your request header. `authorization` field is required."
                    }
                },
                "description": "Bulk enable/disable products in the marketplace.",
                "tags": [
                    "products"
                ],
                "summary": "Bulk enable/disable products in the marketplace",
                "operationId": "putSellerItemsStatus",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. That's all you need to authorize. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "body",
                        "description": "List of seller products with new status information",
                        "name": "body",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/SellerItemStatusUpdate"
                            }
                        }
                    }
                ]
            }
        },
        "/products/prices": {
            "get": {
                "responses": {
                    "200": {
                        "description": "Success processing your request.",
                        "schema": {
                            "$ref": "#/definitions/GetSellerItemsPricesUpdatingResponse"
                        }
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "405": {
                        "description": "Invalid method."
                    }
                },
                "description": "Returns list of products and respective prices",
                "tags": [
                    "products"
                ],
                "summary": "Returns a list of products and prices",
                "operationId": "getSellerItemsPricesUpdatingStatus",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. That's all you need to authorize. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "query",
                        "description": "Number or items to skip when executing query. List starts at zero. If omitted will default to zero. Use this conjuction with `limit` to paginate across the results.",
                        "name": "offset",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "description": "Number or items to return when executing query. Defaults to 10. Use this conjuction with `offset` to paginate across the results.",
                        "name": "limit",
                        "required": false,
                        "type": "integer"
                    }
                ]
            },
            "put": {
                "responses": {
                    "200": {
                        "description": "Sucess processing your request"
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated. Check your request header. `authorization` field is required."
                    }
                },
                "description": "Allows bulk update of product prices. This endpoint expects a json document with an array of products with the seller ID and the new price. Server will process each new product update individually and will ackwlodge as much updates as possible, even if a single product update fails. After this request you can query product final status with GET /product/status",
                "tags": [
                    "products"
                ],
                "summary": "Allows bulk update of product prices.",
                "operationId": "putSellerItemsPrices",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. That's all you need to authorize. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "body",
                        "description": "Parâmetros para ativação/desativação massiva de produtos",
                        "name": "body",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/SellerItemPrices"
                            }
                        }
                    }
                ]
            }
        },
        "/products/stocks": {
            "get": {
                "responses": {
                    "200": {
                        "description": "Success.",
                        "schema": {
                            "$ref": "#/definitions/GetSellerItemsStocksUpdatingResponse"
                        }
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "405": {
                        "description": "Invalid method."
                    }
                },
                "description": "Retuns bulk data with seller products inventory. For extensive details for a given product use GET /product/{skuSellerId}",
                "tags": [
                    "products"
                ],
                "summary": "Get bulk details about products inventory",
                "operationId": "getSellerItemsStocksUpdatingStatus",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. That's all you need to authorize. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "query",
                        "description": "Number or items to skip when executing query. List starts at zero. If omitted will default to zero. Use this conjuction with `limit` to paginate across the results.",
                        "name": "offset",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "description": "Number or items to return when executing query. Defaults to 10. Use this conjuction with `offset` to paginate across the results.",
                        "name": "limit",
                        "required": false,
                        "type": "integer"
                    }
                ]
            },
            "put": {
                "responses": {
                    "200": {
                        "description": "Sucess processing your request."
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated. Check your request header. `authorization` field is required."
                    }
                },
                "description": "Operação utilizada para atualização de estoque, de forma massiva, de produtos enviados na carga. Retorno do Serviço.",
                "tags": [
                    "products"
                ],
                "summary": "Operação para atualização de estoque de produtos em massa",
                "operationId": "putSellerItemsStocks",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. That's all you need to authorize. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "body",
                        "description": "Parâmetros para atualização massiva de estoque de produtos.",
                        "name": "body",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/SellerItemStocks"
                            }
                        }
                    }
                ]
            }
        },
        "/product/{skuSellerId}/status": {
            "put": {
                "responses": {
                    "200": {
                        "description": "Sucess processing your request"
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Requisição Requer Antenticação."
                    }
                },
                "description": "Update product status in the Marketplace. Set to `false` to disable `true` to enable for sale.",
                "tags": [
                    "product"
                ],
                "summary": "Ativação/Desativação de produto no Marketplace",
                "operationId": "putSellerItemStatus",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. That's all you need to authorize. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "path",
                        "description": "SKU ID do Lojista.",
                        "name": "skuSellerId",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "description": "Parâmetros para ativação/desativação do SKU.",
                        "name": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/SellerItemStatus"
                        }
                    }
                ]
            }
        },
        "/product/{skuSellerId}/stock": {
            "put": {
                "responses": {
                    "200": {
                        "description": "Sucess processing your request"
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated. Check your request header. `authorization` field is required."
                    }
                },
                "description": "Atualiza a quantidade disponível para venda do Item do Lojista informado. Se atualizado para zero, o item não estará mais disponível para venda.",
                "tags": [
                    "product"
                ],
                "summary": "Atualização de estoque do item do Lojista",
                "operationId": "putSellerItemStock",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. That's all you need to authorize. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "path",
                        "description": "SKU ID do Lojista.",
                        "name": "skuSellerId",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "description": "Parâmetros para atualização de estoque do SKU",
                        "name": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Stock"
                        }
                    }
                ]
            }
        },
        "/product/{skuSellerId}/prices": {
            "put": {
                "responses": {
                    "200": {
                        "description": "Sucess processing your request"
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated. Check your request header. `authorization` field is required."
                    }
                },
                "description": "Allows seller to set the SKU prices (MSRP and/or offer price). All prices must be informed in cents. No commas or periods are accepeted. For example one dollar should be informed as 100. Same as $1,2345.67 must be informed solely as 1234567",
                "tags": [
                    "product"
                ],
                "summary": "Allows seller to update prices of a single SKU",
                "operationId": "putSellerItemPrices",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. That's all you need to authorize. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "path",
                        "description": "Product SKU",
                        "name": "skuSellerId",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "description": "JSON document with the SKU price",
                        "name": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Prices"
                        }
                    }
                ]
            }
        },
        "/products/status/selling": {
            "get": {
                "responses": {
                    "200": {
                        "description": "Success processing your request.",
                        "schema": {
                            "$ref": "#/definitions/GetSellerItemsResponse"
                        }
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated. Check your request header. `authorization` field is required."
                    },
                    "403": {
                        "description": "Server refused to process your request. Please check the API SLA and reduce number of requests per second."
                    },
                    "404": {
                        "description": "Object not found."
                    },
                    "405": {
                        "description": "Invalid method."
                    }
                },
                "description": "Returns products that are sucessfully listed for sale.",
                "tags": [
                    "products"
                ],
                "summary": "Returns products that are sucessfully listed for sale.",
                "operationId": "getSellerItemsByStatusActive",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. That's all you need to authorize. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "query",
                        "description": "Marketplace to query for product(s)",
                        "name": "marketplace",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "description": "Number or items to skip when executing query. List starts at zero. If omitted will default to zero. Use this conjuction with `limit` to paginate across the results.",
                        "name": "offset",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "description": "Number or items to return when executing query. Defaults to 10. Use this conjuction with `offset` to paginate across the results.",
                        "name": "limit",
                        "required": false,
                        "type": "integer"
                    }
                ]
            }
        },
        "/orders": {
            "get": {
                "responses": {
                    "200": {
                        "description": "Success processing your request.",
                        "schema": {
                            "$ref": "#/definitions/GetOrdersResponse"
                        }
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated. Check your request header. `authorization` field is required."
                    },
                    "403": {
                        "description": "Server refused to process your request. Please check the API SLA and reduce number of requests per second."
                    },
                    "404": {
                        "description": "Object not found."
                    },
                    "405": {
                        "description": "Invalid method."
                    }
                },
                "description": "Retuns a list of orders associated with this seller. The list is ordered by dateCreated.",
                "tags": [
                    "orders"
                ],
                "summary": "Recupera detalhes de todos os pedidos",
                "operationId": "getOrders",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. That's all you need to authorize. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "query",
                        "description": "Number or items to skip when executing query. List starts at zero. If omitted will default to zero. Use this conjuction with `limit` to paginate across the results.",
                        "name": "offset",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "description": "Number or items to return when executing query. Defaults to 10. Use this conjuction with `offset` to paginate across the results.",
                        "name": "limit",
                        "required": false,
                        "type": "integer"
                    }
                ]
            }
        },
        "/orders/shipments/delivered": {
            "post": {
                "responses": {
                    "200": {
                        "description": "Sucess. Server received your request."
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated. Check your request header. `authorization` field is required."
                    }
                },
                "description": "Bulk update of order shipments status. This alows to inform multiple shipments status",
                "tags": [
                    "orders"
                ],
                "summary": "Bulk update of order shipments",
                "operationId": "postOrdersTrackingDelivered",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. That's all you need to authorize. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "body",
                        "description": "JSON body with list of shipments to be updated.",
                        "name": "ordersshipments",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Ordersshipments"
                        }
                    }
                ]
            },
            "get": {
                "responses": {
                    "200": {
                        "description": "Sucess!",
                        "schema": {
                            "$ref": "#/definitions/GetOrdersTrackingUpdatingResponse"
                        }
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated. Check your request header. `authorization` field is required."
                    },
                    "403": {
                        "description": "Server refused to process your request. Please check the API SLA and reduce number of requests per second."
                    },
                    "405": {
                        "description": "Invalid method."
                    }
                },
                "description": "Operação utilizada para consultar o status de uma lista de produtos enviados. É possível refinar a consulta utilizando alguns parâmetros não obrigatórios como: STATUS e DATA DE CADASTRO DO PRODUTO",
                "tags": [
                    "products"
                ],
                "summary": "Get list of shipments",
                "operationId": "getOrdersTrackingDelivered",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. That's all you need to authorize. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "query",
                        "description": "Query by shippment status do produto importado.",
                        "name": "status",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "description": "Number or items to skip when executing query. List starts at zero. If omitted will default to zero. Use this conjuction with `limit` to paginate across the results.",
                        "name": "offset",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "description": "Number or items to return when executing query. Defaults to 10. Use this conjuction with `offset` to paginate across the results.",
                        "name": "limit",
                        "required": false,
                        "type": "integer"
                    }
                ]
            }
        },
        "/orders/shipments/shipped": {
            "post": {
                "responses": {
                    "200": {
                        "description": "Sucess transaction."
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated. Check your request header. `authorization` field is required."
                    }
                },
                "description": "Allows bulk updates of order shippments.",
                "tags": [
                    "orders"
                ],
                "summary": "Bulk update of order shipments",
                "operationId": "postOrdersshipmentsent",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "description": "Arquivo em formato JSON cujo conteúdo contêm uma lista de objetos de order tracking.",
                        "name": "ordersshipments",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Ordersshipments"
                        }
                    }
                ]
            },
            "get": {
                "responses": {
                    "200": {
                        "description": "Success processing your request.",
                        "schema": {
                            "$ref": "#/definitions/GetOrdersTrackingUpdatingResponse"
                        }
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated. Check your request header. `authorization` field is required."
                    },
                    "403": {
                        "description": "Server refused to process your request. Please check the API SLA and reduce number of requests per second."
                    },
                    "404": {
                        "description": "Object not found."
                    },
                    "405": {
                        "description": "Invalid method."
                    }
                },
                "description": "Operação utilizada para consultar o status de uma lista de produtos enviados. É possível refinar a consulta utilizando alguns parâmetros não obrigatórios como: STATUS e DATA DE CADASTRO DO PRODUTO.",
                "tags": [
                    "orders"
                ],
                "summary": "Operação utilizada para consultar o status dos produtos enviados",
                "operationId": "getOrdersshipmentsent",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. That's all you need to authorize. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "query",
                        "description": "Product status.",
                        "name": "status",
                        "required": false,
                        "type": "string",
                        "enum": [
                            "NEW",
                            "APPROVED",
                            "DECLINED",
                            "PENDING"
                        ]
                    },
                    {
                        "in": "query",
                        "description": "Number or items to skip when executing query. List starts at zero. If omitted will default to zero. Use this conjuction with `limit` to paginate across the results.",
                        "name": "offset",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "description": "Number or items to return when executing query. Defaults to 10. Use this conjuction with `offset` to paginate across the results.",
                        "name": "limit",
                        "required": false,
                        "type": "integer"
                    }
                ]
            }
        },
        "/orders/status/approved": {
            "get": {
                "responses": {
                    "200": {
                        "description": "Success processing your request.",
                        "schema": {
                            "$ref": "#/definitions/GetOrdersResponse"
                        }
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated. Check your request header. `authorization` field is required."
                    },
                    "403": {
                        "description": "Server refused to process your request. Please check the API SLA and reduce number of requests per second."
                    },
                    "404": {
                        "description": "Object not found."
                    },
                    "405": {
                        "description": "Invalid method."
                    }
                },
                "description": "Returns a list of approved orders. Orders in the `approved` state must be fullfiled imediadetelly.",
                "tags": [
                    "orders"
                ],
                "summary": "Return list of approved orders",
                "operationId": "getOrdersByStatusApproved",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. That's all you need to authorize. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "query",
                        "description": "Data de aprovação. Esse campo aceita um range de datas separados por vírgula, e os formatos aceitos para o campo são os seguintes: approvedAt={data inicial},{data final} approvedAt={data inicial},* approvedAt=*,{data final} onde, o * é obrigatório e indica a que todas as datas antes ou depois da outra data passada devem ser consideradas.",
                        "name": "approvedAt",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "description": "Number or items to skip when executing query. List starts at zero. If omitted will default to zero. Use this conjuction with `limit` to paginate across the results.",
                        "name": "offset",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "description": "Number or items to return when executing query. Defaults to 100, max 200. Use this in conjuction with `offset` to paginate across the results.",
                        "name": "limit",
                        "required": false,
                        "type": "integer"
                    }
                ]
            }
        },
        "/orders/status/canceled": {
            "get": {
                "responses": {
                    "200": {
                        "description": "Success processing your request.",
                        "schema": {
                            "$ref": "#/definitions/GetOrdersResponse"
                        }
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated. Check your request header. `authorization` field is required."
                    },
                    "403": {
                        "description": "Server refused to process your request. Please check the API SLA and reduce number of requests per second."
                    },
                    "404": {
                        "description": "Object not found."
                    },
                    "405": {
                        "description": "Invalid method."
                    }
                },
                "description": "Returns a list with canceled orders. Canceled orders should not be fullfiled.",
                "tags": [
                    "orders"
                ],
                "summary": "Returns lists of canceled orders",
                "operationId": "getOrdersByStatusCanceled",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. That's all you need to authorize. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "query",
                        "description": "Number or items to skip when executing query. List starts at zero. If omitted will default to zero. Use this conjuction with `limit` to paginate across the results.",
                        "name": "offset",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "description": "Number or items to return when executing query. Default 100, max 300. Use this conjuction with `offset` to paginate across the results.",
                        "name": "limit",
                        "required": false,
                        "type": "integer"
                    }
                ]
            }
        },
        "/orders/status/delivered": {
            "get": {
                "responses": {
                    "200": {
                        "description": "Success processing your request.",
                        "schema": {
                            "$ref": "#/definitions/GetOrdersResponse"
                        }
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated. Check your request header. `authorization` field is required."
                    },
                    "403": {
                        "description": "Server refused to process your request. Please check the API SLA and reduce number of requests per second."
                    },
                    "404": {
                        "description": "Object not found."
                    },
                    "405": {
                        "description": "Invalid method."
                    }
                },
                "description": "Returns a list of orders sucessfully delivered associated with this seller.",
                "tags": [
                    "orders"
                ],
                "summary": "Returns a list of orders sucessfully delivered associated with this seller.",
                "operationId": "getOrdersByStatusDelivered",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. That's all you need to authorize. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "query",
                        "description": "Number or items to skip when executing query. List starts at zero. If omitted will default to zero. Use this conjuction with `limit` to paginate across the results.",
                        "name": "offset",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "description": "Number or items to return when executing query. Defaults to 10. Use this conjuction with `offset` to paginate across the results.",
                        "name": "limit",
                        "required": false,
                        "type": "integer"
                    }
                ]
            }
        },
        "/orders/status/new": {
            "get": {
                "responses": {
                    "200": {
                        "description": "Success processing your request.",
                        "schema": {
                            "$ref": "#/definitions/GetOrdersStatusNewResponse"
                        }
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated. Check your request header. `authorization` field is required."
                    },
                    "403": {
                        "description": "Server refused to process your request. Please check the API SLA and reduce number of requests per second."
                    },
                    "404": {
                        "description": "Object not found."
                    },
                    "405": {
                        "description": "Invalid method."
                    }
                },
                "description": "Returns a list of orders flagged as new. New orders should not be fullfiled until marketplace flags as ready for shipment.",
                "tags": [
                    "orders"
                ],
                "summary": "Returns a list of orders flagged as new.",
                "operationId": "getOrdersByStatusNew",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. That's all you need to authorize. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "query",
                        "description": "Number or items to skip when executing query. List starts at zero. If omitted will default to zero. Use this conjuction with `limit` to paginate across the results.",
                        "name": "offset",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "description": "Number or items to return when executing query. Defaults to 10. Use this conjuction with `offset` to paginate across the results.",
                        "name": "limit",
                        "required": false,
                        "type": "integer"
                    }
                ]
            }
        },
        "/orders/status/partiallyDelivered": {
            "get": {
                "responses": {
                    "200": {
                        "description": "Success processing your request.",
                        "schema": {
                            "$ref": "#/definitions/GetOrdersResponse"
                        }
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated. Check your request header. `authorization` field is required."
                    },
                    "403": {
                        "description": "Server refused to process your request. Please check the API SLA and reduce number of requests per second."
                    },
                    "404": {
                        "description": "Object not found."
                    },
                    "405": {
                        "description": "Invalid method."
                    }
                },
                "description": "Returns a list of partially deliverd orders",
                "tags": [
                    "orders"
                ],
                "summary": "Returns a list of partially deliverd orders",
                "operationId": "getOrdersByStatusPartiallyDelivered",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. That's all you need to authorize. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "query",
                        "description": "Number or items to skip when executing query. List starts at zero. If omitted will default to zero. Use this conjuction with `limit` to paginate across the results.",
                        "name": "offset",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "description": "Number or items to return when executing query. Defaults to 10. Use this conjuction with `offset` to paginate across the results.",
                        "name": "limit",
                        "required": false,
                        "type": "integer"
                    }
                ]
            }
        },
        "/orders/status/partiallySent": {
            "get": {
                "responses": {
                    "200": {
                        "description": "Success processing your request.",
                        "schema": {
                            "$ref": "#/definitions/GetOrdersResponse"
                        }
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated. Check your request header. `authorization` field is required."
                    },
                    "403": {
                        "description": "Server refused to process your request. Please check the API SLA and reduce number of requests per second."
                    },
                    "404": {
                        "description": "Object not found."
                    },
                    "405": {
                        "description": "Invalid method."
                    }
                },
                "description": "Retorna uma lista de pedidos Parcialmente Enviados que estão relacionados com o token do lojista informado. Ocorre quando um ou mais itens foram enviados, porém ainda existem itens que não foram enviados. Os pedidos ficam nesse estado apenas quando ocorreu quebra de entrega e alguns produtos da lista completa já foram sinalizados como Enviados pelo serviço",
                "tags": [
                    "orders"
                ],
                "summary": "Retorna uma lista de pedidos Parcialmente Enviados",
                "operationId": "getOrdersByStatusPartiallySent",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. That's all you need to authorize. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "query",
                        "description": "Data de envio. Esse campo aceita um range de datas separados por vírgula, e os formatos aceitos para o campo são os seguintes: sentAt={data inicial},{data final} sentAt={data inicial},* sentAt=*,{data final} onde, o * é obrigatório e indica a que todas as datas antes ou depois da outra data passada devem ser consideradas.",
                        "name": "sentAt",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "description": "Number or items to skip when executing query. List starts at zero. If omitted will default to zero. Use this conjuction with `limit` to paginate across the results.",
                        "name": "offset",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "description": "Number or items to return when executing query. Defaults to 10. Use this conjuction with `offset` to paginate across the results.",
                        "name": "limit",
                        "required": false,
                        "type": "integer"
                    }
                ]
            }
        },
        "/orders/status/sent": {
            "get": {
                "responses": {
                    "200": {
                        "description": "Success processing your request.",
                        "schema": {
                            "$ref": "#/definitions/GetOrdersResponse"
                        }
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated. Check your request header. `authorization` field is required."
                    },
                    "403": {
                        "description": "Server refused to process your request. Please check the API SLA and reduce number of requests per second."
                    },
                    "404": {
                        "description": "Object not found."
                    },
                    "405": {
                        "description": "Invalid method."
                    }
                },
                "description": "Recupera uma lista de pedidos com status Enviado, que estão relacionados com o token do lojista informado. Este estado representa os pedidos cujos itens foram todos entregues.Obs.: Os emails transacionais que reportam o status do pedido para os clientes devem ser desabibilitados. Esse tipo de email já é enviado pelo Marketplace.",
                "tags": [
                    "orders"
                ],
                "summary": "Recupera uma lista de pedidos Enviados",
                "operationId": "getOrdersByStatusSent",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. That's all you need to authorize. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "query",
                        "description": "Data de envio. Esse campo aceita um range de datas separados por vírgula, e os formatos aceitos para o campo são os seguintes: sentAt={data inicial},{data final} sentAt={data inicial},* sentAt=*,{data final} onde, o * é obrigatório e indica a que todas as datas antes ou depois da outra data passada devem ser consideradas",
                        "name": "sentAt",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "description": "Number or items to skip when executing query. List starts at zero. If omitted will default to zero. Use this conjuction with `limit` to paginate across the results.",
                        "name": "offset",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "description": "Number or items to return when executing query. Defaults to 10. Use this conjuction with `offset` to paginate across the results.",
                        "name": "limit",
                        "required": false,
                        "type": "integer"
                    }
                ]
            }
        },
        "/order/{orderId}": {
            "get": {
                "responses": {
                    "200": {
                        "description": "Success processing your request.",
                        "schema": {
                            "$ref": "#/definitions/Order"
                        }
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated. Check your request header. `authorization` field is required."
                    },
                    "403": {
                        "description": "Server refused to process your request. Please check the API SLA and reduce number of requests per second."
                    },
                    "404": {
                        "description": "Object not found."
                    },
                    "405": {
                        "description": "Invalid method."
                    }
                },
                "description": "Recupera detalhes do pedido informado.Observação: Os campos retornados dependem do status do pedido, por exemplo, no status new, as informações de entrega são suprimidas para evitar a entrega antes da confirmação do pagamento. Nesta documentação estão presentes todos os campos de Pedido. Para saber quais campos são retornados para cada status do pedido, basta consultar a documentação de cada um dos métodos de consulta de pedidos por status. Deve ser informado um pedido válido.Abaixo seguem os valores possíveis para o tipo de",
                "tags": [
                    "orders"
                ],
                "summary": "Recupera detalhes do pedido informado",
                "operationId": "getOrderById",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. That's all you need to authorize. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "path",
                        "description": "ID do pedido.",
                        "name": "orderId",
                        "required": true,
                        "type": "string"
                    }
                ]
            }
        },
        "/order/{orderId}/shipments/cancel": {
            "post": {
                "responses": {
                    "200": {
                        "description": "Sucess."
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated. Check your request header. `authorization` field is required."
                    },
                    "405": {
                        "description": "Invalid method."
                    },
                    "415": {
                        "description": "Invalid content-type. JSON is required."
                    }
                },
                "description": "Operação utilizada para confirmar o cancelamento de um item de pedido que foi aberto pelo cliente (via protocolo) ou cancelamento acionado pelo lojista. Quebra de envio No caso de quebra de envio, passe apenas os itens e a quantidade que serão enviados. O controle de quais itens foram enviados deverá ser realizado pela sua Aplicação.  Para notificar o envio de todos os produtos, passe a lista contendo todos os itens e quantidade total.",
                "tags": [
                    "orders"
                ],
                "summary": "Operação para confirmar o cancelamento de um item de pedido",
                "operationId": "postOrderShippmentCancelation",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. That's all you need to authorize. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/NewTrackingRefund"
                        }
                    },
                    {
                        "in": "path",
                        "description": "ID do pedido.",
                        "name": "orderId",
                        "required": true,
                        "type": "string"
                    }
                ]
            }
        },
        "/order/{orderId}/shipments/delivered": {
            "post": {
                "responses": {
                    "200": {
                        "description": "Sucessfully received transaction"
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated. Check your request header. `authorization` field is required."
                    },
                    "405": {
                        "description": "Invalid method."
                    },
                    "415": {
                        "description": "Invalid content-type. JSON is required."
                    }
                },
                "description": "Registra uma nova operação de tracking de Entrega para os itens do pedido. Quebra de envio No caso de quebra de envio, passe apenas os itens e a quantidade que foram entregues. O controle de quais itens foram enviados deverá ser realizado pela sua Aplicação.  Para notificar a entrega de todos os produtos, passe a lista contendo todos os itens e quantidade total.  Clique <a href='../tutoriais/exemplo_tracking_delivered_v2.json'  >aqui</a> para obter um exemplo de conteúdo JSON suportado por esse serviço.Retorno do Serviço.",
                "tags": [
                    "orders"
                ],
                "summary": "Registra uma nova operação de tracking de entrega",
                "operationId": "postOrderShippmentDelivered",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. That's all you need to authorize. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Newshipmentstatus"
                        }
                    },
                    {
                        "in": "path",
                        "description": "ID do pedido.",
                        "name": "orderId",
                        "required": true,
                        "type": "string"
                    }
                ]
            }
        },
        "/order/{orderId}/shipments/exchange": {
            "post": {
                "responses": {
                    "200": {
                        "description": "Sucessfully received transaction"
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated. Check your request header. `authorization` field is required."
                    },
                    "405": {
                        "description": "Invalid method."
                    },
                    "415": {
                        "description": "Invalid content-type. JSON is required."
                    }
                },
                "description": "Operação utilizada para confirmar a troca de um item de pedido aberto pelo cliente (via protocolo). Quebra de envio No caso de quebra de envio, passe apenas os itens e a quantidade que serão enviados. O controle de quais itens foram enviados deverá ser realizado pela sua Aplicação.  Para notificar o envio de todos os produtos, passe a lista contendo todos os itens e quantidade total.  Clique <a href='/api-portal/sites/default/files/support/exemplo_tracking_sent_v2.json'  >aqui</a> para obter um exemplo de conteúdo JSON suportado por esse serviço.Retorno do Serviço.",
                "tags": [
                    "orders"
                ],
                "summary": "Operação para confirmar a troca de um item de um pedido",
                "operationId": "postOrderShippmentExchange",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. That's all you need to authorize. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/NewTrackingRefund"
                        }
                    },
                    {
                        "in": "path",
                        "description": "ID do pedido.",
                        "name": "orderId",
                        "required": true,
                        "type": "string"
                    }
                ]
            }
        },
        "/order/{orderId}/shipments/return": {
            "post": {
                "responses": {
                    "200": {
                        "description": "Sucessfully received transaction"
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated. Check your request header. `authorization` field is required."
                    },
                    "405": {
                        "description": "Invalid method."
                    },
                    "415": {
                        "description": "Invalid content-type. JSON is required."
                    }
                },
                "description": "Operação utilizada para confirmação de devolução (reembolso) de item do pedido através de protocolo aberto pelo cliente. Quebra de envio No caso de quebra de envio, passe apenas os itens e a quantidade que serão enviados. O controle de quais itens foram enviados deverá ser realizado pela sua Aplicação.  Para notificar o envio de todos os produtos, passe a lista contendo todos os itens e quantidade total.  Clique <a href='/api-portal/sites/default/files/support/exemplo_tracking_sent_v2.json'  >aqui</a> para obter um exemplo de conteúdo JSON suportado por esse serviço.Retorno do Serviço",
                "tags": [
                    "orders"
                ],
                "summary": "Operação para confirmar devolução (reembolso) de item do pedido",
                "operationId": "postOrderShippmentReturn",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. That's all you need to authorize. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/NewTrackingRefund"
                        }
                    },
                    {
                        "in": "path",
                        "description": "ID do pedido.",
                        "name": "orderId",
                        "required": true,
                        "type": "string"
                    }
                ]
            }
        },
        "/order/{orderId}/shipments/sent": {
            "post": {
                "responses": {
                    "200": {
                        "description": "Sucessfully received transaction"
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated. Check your request header. `authorization` field is required."
                    },
                    "405": {
                        "description": "Invalid method."
                    },
                    "415": {
                        "description": "Invalid content-type. JSON is required."
                    }
                },
                "description": "Registra uma nova operação de tracking de Envio para os itens do pedido. Quebra de envio No caso de quebra de envio, passe apenas os itens e a quantidade que serão enviados. O controle de quais itens foram enviados deverá ser realizado pela sua Aplicação.  Para notificar o envio de todos os produtos, passe a lista contendo todos os itens e quantidade total.  Clique <a href='/api-portal/sites/default/files/support/exemplo_tracking_sent_v2.json'  >aqui</a> para obter um exemplo de conteúdo JSON suportado por esse serviço.Retorno do Serviço.",
                "tags": [
                    "orders"
                ],
                "summary": "Registra uma nova operação de tracking de envio",
                "operationId": "postOrdershipmentsent",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. That's all you need to authorize. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Newshipmentstatus"
                        }
                    },
                    {
                        "in": "path",
                        "description": "ID do pedido.",
                        "name": "orderId",
                        "required": true,
                        "type": "string"
                    }
                ]
            }
        },
        "/tickets": {
            "get": {
                "responses": {
                    "200": {
                        "description": "Success processing your request.",
                        "schema": {
                            "$ref": "#/definitions/GetTickets"
                        }
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "404": {
                        "description": "Object not found."
                    },
                    "405": {
                        "description": "Invalid method."
                    }
                },
                "description": "Allows seller to receive and status, queries, requests and complaints from customers. As well related messages",
                "tags": [
                    "tickets"
                ],
                "summary": "Get customers trouble tickets",
                "operationId": "GetTickets",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. That's all you need to authorize. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "query",
                        "description": "Query by trouble ticket status",
                        "name": "status",
                        "required": false,
                        "type": "string",
                        "enum": [
                            "OPEN",
                            "REOPENED",
                            "CLOSE"
                        ]
                    },
                    {
                        "in": "query",
                        "description": "Trouble ticket uniqe identificaiton number.",
                        "name": "ticketId",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "description": "Number or items to skip when executing query. List starts at zero. If omitted will default to zero. Use this conjuction with `limit` to paginate across the results.",
                        "name": "offset",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "description": "Number or items to return when executing query. Defaults to 10. Use this conjuction with `offset` to paginate across the results.",
                        "name": "limit",
                        "required": false,
                        "type": "integer"
                    }
                ]
            }
        },
        "/ticket": {
            "post": {
                "responses": {
                    "200": {
                        "description": "Success processing your request."
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "404": {
                        "description": "Object not found."
                    },
                    "405": {
                        "description": "Invalid method."
                    }
                },
                "description": "Esse serviço irá efetuar a criação de um novo Ticket. Serve para atender as necessidades do lojista entrar em contato com o consumidor final caso necessário. Todo contato com o comprador, com exceção dos os emails transacionais que já são enviados pelo Marketplace, deve ser realizado através desta API.",
                "tags": [
                    "tickets"
                ],
                "summary": "Cria um novo protocolo",
                "operationId": "postTicket",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. That's all you need to authorize. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "body",
                        "description": "JSON object with message..",
                        "name": "newTicket",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/NewTicket"
                        }
                    }
                ]
            }
        },
        "/ticket/{ticketId}/messages": {
            "get": {
                "responses": {
                    "200": {
                        "description": "Sucess processing your request",
                        "schema": {
                            "$ref": "#/definitions/GetTicketMessagesResponse"
                        }
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated. Check your request header. `authorization` field is required."
                    },
                    "403": {
                        "description": "Access denied. You can only access your trouble tickets"
                    },
                    "405": {
                        "description": "Invalid method."
                    }
                },
                "description": "Returns trouble ticket history with all messages exchanged. Only tickets related to your seller will be returned attempt to read other tickets will return 403 (acess denied).",
                "tags": [
                    "tickets"
                ],
                "summary": "Operação utilizada para consultar um protocolo",
                "operationId": "GetTicketMessages",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. That's all you need to authorize. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "path",
                        "description": "Trouble ticket ID.",
                        "name": "ticketId",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "description": "Number or items to skip when executing query. List starts at zero. If omitted will default to zero. Use this conjuction with `limit` to paginate across the results.",
                        "name": "offset",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "description": "Number or items to return when executing query. Defaults to 10. Use this conjuction with `offset` to paginate across the results.",
                        "name": "limit",
                        "required": false,
                        "type": "integer"
                    }
                ]
            }
        },
        "/ticket/{ticketId}/message": {
            "post": {
                "responses": {
                    "200": {
                        "description": "Success processing your request."
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "404": {
                        "description": "Object not found."
                    },
                    "405": {
                        "description": "Invalid method."
                    }
                },
                "description": "Add a new message to this trouble ticket. Messages can be `CUSTOMER` (customer will be able to see it) or `INTERNAL`.",
                "tags": [
                    "tickets"
                ],
                "summary": "Add new message to trouble ticket",
                "operationId": "postTicketMessage",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. That's all you need to authorize. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "path",
                        "description": "Trouble ticket ID.",
                        "name": "ticketId",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "description": "New message object to append to trouble ticket.",
                        "name": "message",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/NewTicketMessage"
                        }
                    }
                ]
            }
        },

        "/ticket/{ticketId}/status": {
            "put": {
                "responses": {
                    "200": {
                        "description": "Sucessfully received transaction"
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated. Check your request header. `authorization` field is required."
                    },
                    "403": {
                        "description": "Server refused to process your request. Please check the API SLA and reduce number of requests per second."
                    },
                    "404": {
                        "description": "Object not found."
                    },
                    "405": {
                        "description": "Invalid method."
                    }
                },
                "description": "Esse serviço permitirá que o lojista/plataforma altere o status de um Ticket. Os status permitidos serão: Fechado  (closed)  e Em Acompanhamento (attendance).",
                "tags": [
                    "tickets"
                ],
                "summary": "Operação utilizada para atualizar o status dos tickets",
                "operationId": "putTicketStatus",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
[...]
