{
    "swagger": "2.0",
    "info": {
        "title": "BrandLovers Marketplace API",
        "description": "Allows sellers to: 1) Load products definitions to the BrandLovers marktplace. 2) Receive and update orders status. 3) Receive and update shipping information. 4) Receive and update customer tickets. All queries must be authenticated and use HTTPS.",
        "version": "1.0.0"
    },
    "host": "api.brandlovers.com",
    "schemes": [
        "https"
    ],
    "basePath": "/marketplace/v1",
    "produces": [
        "application/json"
    ],
    "paths": {
        "/products": {
            "post": {
                "responses": {
                    "200": {
                        "description": "Server received your request and will start background data validation."
                    },
                    "400": {
                        "description": "Bad Request."
                    },
                    "401": {
                        "description": "Not authenticated. Check your headers, `authorization` is required."
                    },
                },
                "description": "Use this enpoint to upload new product information to the Marketplace. This enpoint expects a json document with array of products. The server will load each product as an individual item that can be manipulated using your own `productID`. This system is idenpontent, this means that once a `productID` is created it cannot be re-created using this tool. In order to update, edit or even delete a product use the PUT or DELETE methods with the correct referencing your `productID`",
                "tags": [
                    "products"
                ],
                "summary": "Allows new products to be loaded into the marketplace",
                "operationId": "postProducts",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. That's all you need to authorize. The Access token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "body",
                        "description": "JSON with a list of new products to be updloaded to the platform",
                        "name": "products",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Product"
                            }
                        }
                    }
                ]
            },
            "get": {
                "responses": {
                    "200": {
                        "description": "Successful request.",
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated. Check your headers, `authorization` field is required."
                    },
                    "403": {
                          "description": "Server refused to process your request. Please check the API SLA and reduce number of requests per second."
                    },
                    "404": {
                        "description": "Object not found."
                    },
                },
                "description": "Get a list of my products loaded sucessfully loaded into the Marketplace. This dosen't means that products are eligible for sale, just that they are loaded into the server database.",
                "tags": [
                    "products"
                ],
                "summary": "Returns a list of products loaded into BrandLovers Marketplace",
                "operationId": "getProducts",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. That's all you need to authorize. The Access token can be found in your Admin console.",
                        "name": "access_token",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "query",
                        "description": "Number or items to skip when executing query. Used this conjuction with limit to paginate",
                        "name": "offset",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "description": "Number of items to retun. Defaults to 100. Max alowed is 300",
                        "name": "limit",
                        "required": true,
                        "type": "integer"
                    }
                ]
            }
        },
        "/orders/trackings/sent": {
            "post": {
                "responses": {
                    "200": {
                        "description": "No response was specified"
                    },
                    "201": {
                        "description": "Retorno de sucesso."
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated. Check your headers, `authorization` field is required."
                    }
                },
                "description": "Operação utilizada para atualização de tracking massivo.   Devido ao formato JSON, é necessário alterar o HTTP Header: content-type para application/json para o correto funcionamento.  Retorno do Serviço O retorno deste serviço é baseado no padrão definido para métodos POST segundo o Status HTTP 201 - Created.",
                "tags": [
                    "loads"
                ],
                "summary": "Operação utilizada para atualização de tracking massivo",
                "operationId": "postOrdersTrackingSent",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "description": "Arquivo em formato JSON cujo conteúdo contêm uma lista de objetos de order tracking.",
                        "name": "ordersTrackings",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/OrdersTrackings"
                        }
                    }
                ]
            },
            "get": {
                "responses": {
                    "200": {
                        "description": "Indica que o processamento foi realizado corretamente e o retorno será conforme a expectativa.",
                        "schema": {
                            "$ref": "#/definitions/GetOrdersTrackingUpdatingResponse"
                        }
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated. Check your headers, `authorization` field is required."
                    },
                    "403": {
                        "description": "Server refused to process your request. Please check the API SLA and reduce number of requests per second."
                    },
                    "404": {
                        "description": "Object not found."
                    },
                    "405": {
                        "description": "Método não Permitido."
                    }
                },
                "description": "Operação utilizada para consultar o status de uma lista de produtos enviados. É possível refinar a consulta utilizando alguns parâmetros não obrigatórios como: STATUS e DATA DE CADASTRO DO PRODUTO.",
                "tags": [
                    "loads"
                ],
                "summary": "Operação utilizada para consultar o status dos produtos enviados",
                "operationId": "getOrdersTrackingSent",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. That's all you need to authorize. The Access token can be found in your Admin console.",
                        "name": "access_token",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "query",
                        "description": "Data de envio do produto. Esse campo aceita um range de datas separados por vírgula, e os formatos aceitos para o campo são os seguintes: purchasedAt={data inicial},{data final} purchasedAt={data inicial},* purchasedAt=*,{data final} onde, o * é obrigatório e indica a que todas as datas antes ou depois da outra data passada devem ser consideradas.",
                        "name": "createdAt",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "description": "Status do produto importado.",
                        "name": "status",
                        "required": false,
                        "type": "string",
                        "enum": [
                            "AVAILABLE",
                            "CANCELED",
                            "ERROR",
                            "PENDING"
                        ]
                    },
                    {
                        "in": "query",
                        "description": "Parâmetro utilizado para indicar a posição do registro inicial que será trazido. A primeira posição é sempre zero (0).",
                        "name": "offset",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "description": "Parâmetro utilizado para indicar a quantidade de registros que deve ser trazido na consulta.",
                        "name": "limit",
                        "required": true,
                        "type": "integer"
                    }
                ]
            }
        },
        "/orders/trackings/delivered": {
            "post": {
                "responses": {
                    "200": {
                        "description": "No response was specified"
                    },
                    "201": {
                        "description": "Retorno de sucesso."
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated. Check your headers, `authorization` field is required."
                    }
                },
                "description": "Operação utilizada para atualização de tracking massivo.  Devido ao formato JSON, é necessário alterar o HTTP Header: content-type para application/json para o correto funcionamento.  Retorno do Serviço O retorno deste serviço é baseado no padrão definido para métodos POST segundo o Status HTTP 201 - Created.",
                "tags": [
                    "loads"
                ],
                "summary": "Operação utilizada  para atualização de tracking massivo",
                "operationId": "postOrdersTrackingDelivered",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. That's all you need to authorize. The Access token can be found in your Admin console.",
                        "name": "access_token",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "body",
                        "description": "Arquivo em formato JSON cujo conteúdo contêm uma lista de objetos product.",
                        "name": "ordersTrackings",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/OrdersTrackings"
                        }
                    }
                ]
            },
            "get": {
                "responses": {
                    "200": {
                        "description": "Indica que o processamento foi realizado corretamente e o retorno será conforme a expectativa.",
                        "schema": {
                            "$ref": "#/definitions/GetOrdersTrackingUpdatingResponse"
                        }
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated. Check your headers, `authorization` field is required."
                    },
                    "403": {
                        "description": "Server refused to process your request. Please check the API SLA and reduce number of requests per second."
                    },
                    "404": {
                        "description": "Object not found."
                    },
                    "405": {
                        "description": "Método não Permitido."
                    }
                },
                "description": "Operação utilizada para consultar o status de uma lista de produtos enviados. É possível refinar a consulta utilizando alguns parâmetros não obrigatórios como: STATUS e DATA DE CADASTRO DO PRODUTO",
                "tags": [
                    "loads"
                ],
                "summary": "Operação utilizada para consultar o status dos produtos enviados",
                "operationId": "getOrdersTrackingDelivered",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. That's all you need to authorize. The Access token can be found in your Admin console.",
                        "name": "access_token",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "query",
                        "description": "Data de envio do produto. Esse campo aceita um range de datas separados por vírgula, e os formatos aceitos para o campo são os seguintes: purchasedAt={data inicial},{data final} purchasedAt={data inicial},* purchasedAt=*,{data final} onde, o * é obrigatório e indica a que todas as datas antes ou depois da outra data passada devem ser consideradas.",
                        "name": "createdAt",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "description": "Status do produto importado.",
                        "name": "status",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "description": "Parâmetro utilizado para indicar a posição do registro inicial que será trazido. A primeira posição é sempre zero (0)",
                        "name": "offset",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "description": "Parâmetro utilizado para indicar a quantidade de registros que deve ser trazido na consulta",
                        "name": "limit",
                        "required": true,
                        "type": "integer"
                    }
                ]
            }
        },
        "/loads/sellerItems/status": {
            "get": {
                "responses": {
                    "200": {
                        "description": "Indica que o processamento foi realizado corretamente e o retorno será conforme a expectativa.",
                        "schema": {
                            "$ref": "#/definitions/GetSellerItemsStatusUpdatingResponse"
                        }
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "404": {
                        "description": "Object not found."
                    },
                    "405": {
                        "description": "Método não Permitido."
                    }
                },
                "description": "Operação para consulta da atualização massiva de status de produtos enviado.Essa operação deve ser utilizada, principalmente, para recuperar a listagem de erros que podem ter ocorrido na importação de produtos. Não utilize esse serviço para recuperar os dados atuais do produto que está sendo vendido (como preço e estoque). Para recuperar informações de venda do produto, utilize o serviço <a href='#!/sellerItems/getDetailsSellerItemOrigin_get_1'  >GET /sellerItems/{skuSellerId}</a>",
                "tags": [
                    "loads"
                ],
                "summary": "Operação para consulta da atualização massiva de status",
                "operationId": "getSellerItemsStatusUpdatingStatus",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. That's all you need to authorize. The Access token can be found in your Admin console.",
                        "name": "access_token",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "query",
                        "description": "Parâmetro utilizado para indicar a posição do registro inicial que será trazido. A primeira posição é sempre zero (0).",
                        "name": "offset",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "description": "Parâmetro utilizado para indicar a quantidade de registros que deve ser trazido na consulta.",
                        "name": "limit",
                        "required": true,
                        "type": "integer"
                    }
                ]
            },
            "put": {
                "responses": {
                    "200": {
                        "description": "No response was specified"
                    },
                    "204": {
                        "description": "Indica que o recurso foi alterado com sucesso."
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated. Check your headers, `authorization` field is required."
                    }
                },
                "description": "Operação utilizada para ativação/desativação massiva de produtos enviados na carga. Retorno do Serviço O retorno deste serviço é baseado no padrão definido para métodos PUT e DELETE, sendo retornado apenas o Status HTTP 204 - No Content.",
                "tags": [
                    "loads"
                ],
                "summary": "Operação para ativação/desativação massiva de produtos",
                "operationId": "putSellerItemsStatus",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. That's all you need to authorize. The Access token can be found in your Admin console.",
                        "name": "access_token",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "body",
                        "description": "Parâmetros para ativação/desativação massiva de produtos",
                        "name": "body",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/SellerItemStatusUpdate"
                            }
                        }
                    }
                ]
            }
        },
        "/loads/sellerItems/prices": {
            "get": {
                "responses": {
                    "200": {
                        "description": "Indica que o processamento foi realizado corretamente e o retorno será conforme a expectativa.",
                        "schema": {
                            "$ref": "#/definitions/GetSellerItemsPricesUpdatingResponse"
                        }
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "404": {
                        "description": "Object not found."
                    },
                    "405": {
                        "description": "Método não Permitido."
                    }
                },
                "description": "Operação para consulta de status da atualização massiva de preços de produtos enviados.Essa operação deve ser utilizada, principalmente, para recuperar a listagem de erros que podem ter ocorrido na importação de produtos. Não utilize esse serviço para recuperar os dados atuais do produto que está sendo vendido (como preço e estoque). Para recuperar informações de venda do produto, utilize o serviço <a href='#!/sellerItems/getDetailsSellerItemOrigin_get_1'  >GET /sellerItems/{skuSellerId}</a>",
                "tags": [
                    "loads"
                ],
                "summary": "Operação para consulta de atualização massiva de preços",
                "operationId": "getSellerItemsPricesUpdatingStatus",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. That's all you need to authorize. The Access token can be found in your Admin console.",
                        "name": "access_token",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "query",
                        "description": "Parâmetro utilizado para indicar a posição do registro inicial que será trazido. A primeira posição é sempre zero (0).",
                        "name": "offset",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "description": "Parâmetro utilizado para indicar a quantidade de registros que deve ser trazido na consulta.",
                        "name": "limit",
                        "required": true,
                        "type": "integer"
                    }
                ]
            },
            "put": {
                "responses": {
                    "200": {
                        "description": "No response was specified"
                    },
                    "204": {
                        "description": "Indica que o recurso foi alterado com sucesso."
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated. Check your headers, `authorization` field is required."
                    }
                },
                "description": "Operação utilizada para atualização de preço, de forma massiva, de produtos enviados na carga. Retorno do Serviço O retorno deste serviço é baseado no padrão definido para métodos PUT e DELETE, sendo retornado apenas o Status HTTP 204 - No Content.",
                "tags": [
                    "loads"
                ],
                "summary": "Operação para atualização de preço de produtos em massa",
                "operationId": "putSellerItemsPrices",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. That's all you need to authorize. The Access token can be found in your Admin console.",
                        "name": "access_token",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "body",
                        "description": "Parâmetros para ativação/desativação massiva de produtos",
                        "name": "body",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/SellerItemPrices"
                            }
                        }
                    }
                ]
            }
        },
        "/loads/sellerItems/stocks": {
            "get": {
                "responses": {
                    "200": {
                        "description": "Indica que o processamento foi realizado corretamente e o retorno será conforme a expectativa.",
                        "schema": {
                            "$ref": "#/definitions/GetSellerItemsStocksUpdatingResponse"
                        }
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "404": {
                        "description": "Object not found."
                    },
                    "405": {
                        "description": "Método não Permitido."
                    }
                },
                "description": "Operação para consulta do status da atualização massiva de estoque de produtos enviados.Essa operação deve ser utilizada, principalmente, para recuperar a listagem de erros que podem ter ocorrido na importação de produtos. Não utilize esse serviço para recuperar os dados atuais do produto que está sendo vendido (como preço e estoque). Para recuperar informações de venda do produto, utilize o serviço <a href='#!/sellerItems/getDetailsSellerItemOrigin_get_1'  >GET /sellerItems/{skuSellerId}</a>",
                "tags": [
                    "loads"
                ],
                "summary": "Operação para consulta do status da atualização massiva de estoque",
                "operationId": "getSellerItemsStocksUpdatingStatus",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. That's all you need to authorize. The Access token can be found in your Admin console.",
                        "name": "access_token",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "query",
                        "description": "Parâmetro utilizado para indicar a posição do registro inicial que será trazido. A primeira posição é sempre zero (0).",
                        "name": "offset",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "description": "Parâmetro utilizado para indicar a quantidade de registros que deve ser trazido na consulta.",
                        "name": "limit",
                        "required": true,
                        "type": "integer"
                    }
                ]
            },
            "put": {
                "responses": {
                    "200": {
                        "description": "No response was specified"
                    },
                    "204": {
                        "description": "Indica que o recurso foi alterado com sucesso."
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated. Check your headers, `authorization` field is required."
                    }
                },
                "description": "Operação utilizada para atualização de estoque, de forma massiva, de produtos enviados na carga. Retorno do Serviço O retorno deste serviço é baseado no padrão definido para métodos PUT e DELETE, sendo retornado apenas o Status HTTP 204 - No Content.",
                "tags": [
                    "loads"
                ],
                "summary": "Operação para atualização de estoque de produtos em massa",
                "operationId": "putSellerItemsStocks",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. That's all you need to authorize. The Access token can be found in your Admin console.",
                        "name": "access_token",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "body",
                        "description": "Parâmetros para atualização massiva de estoque de produtos.",
                        "name": "body",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/SellerItemStocks"
                            }
                        }
                    }
                ]
            }
        },
        "/loads/products/{skuSellerId}": {
            "get": {
                "responses": {
                    "200": {
                        "description": "No response was specified",
                        "schema": {
                            "$ref": "#/definitions/GetProductWithErrorsResponse"
                        }
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated. Check your headers, `authorization` field is required."
                    },
                    "403": {
                        "description": "Server refused to process your request. Please check the API SLA and reduce number of requests per second."
                    },
                    "404": {
                        "description": "Object not found."
                    },
                    "405": {
                        "description": "Método não Permitido."
                    }
                },
                "description": "Operação para consultar um produto enviado.Essa operação deve ser utilizada, principalmente, para recuperar a listagem de erros que podem ter ocorrido na importação de produtos. Não utilize esse serviço para recuperar os dados atuais do produto que está sendo vendido (como preço e estoque). Para recuperar informações de venda do produto, utilize o serviço <a href='#!/sellerItems/getDetailsSellerItemOrigin_get_1'  >GET /sellerItems/{skuSellerId}</a>",
                "tags": [
                    "loads"
                ],
                "summary": "Operação para consultar um produto enviado",
                "operationId": "getProduct",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. That's all you need to authorize. The Access token can be found in your Admin console.",
                        "name": "access_token",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "path",
                        "description": "SKU ID do Lojista.",
                        "name": "skuSellerId",
                        "required": true,
                        "type": "string"
                    }
                ]
            },
            "put": {
                "responses": {
                    "200": {
                        "description": "No response was specified"
                    },
                    "204": {
                        "description": "Indica que o recurso foi alterado com sucesso."
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated. Check your headers, `authorization` field is required."
                    }
                },
                "description": "Operação utilizada para alterar um produto enviado na carga.O produto só pode ser alterado antes de assumir o status Disponível (AVAILABLE). Produtos já disponíveis não podem ser alterados através de serviços. Para mais informações, leia a documentação <a href='#!/loads/loadProducts_post_0'  >POST /loads/products</a>. Retorno do Serviço O retorno deste serviço é baseado no padrão definido para métodos PUT e DELETE, sendo retornado apenas o Status HTTP 204 - No Content.",
                "tags": [
                    "loads"
                ],
                "summary": "Operação para alterar um produto enviado na carga",
                "operationId": "putProduct",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. That's all you need to authorize. The Access token can be found in your Admin console.",
                        "name": "access_token",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "path",
                        "description": "SKU do produto do lojista que deverá ser alterado.",
                        "name": "skuSellerId",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "description": "Parâmetros para alterar um produto enviado na carga.",
                        "name": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ProductUpdate"
                        }
                    }
                ]
            },
            "delete": {
                "responses": {
                    "200": {
                        "description": "No response was specified",
                        "schema": {
                            "$ref": "#/definitions/Errors"
                        }
                    },
                    "204": {
                        "description": "Indica que o recurso foi alterado ou excluído com sucesso."
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated. Check your headers, `authorization` field is required."
                    },
                    "422": {
                        "description": "Sku com status diferente de pendente ou com erro."
                    }
                },
                "description": "Essa operação está disponível apenas para SANDBOX.Operação utilizada para cancelar itens de uma carga. Os itens só podem ser cancelados se estiverem com erros de importação ou se os produtos estiverem pendentes (status=PENDING). Retorno do Serviço O retorno deste serviço é baseado no padrão definido para métodos PUT e DELETE, sendo retornado apenas o Status HTTP 204 - No Content.",
                "tags": [
                    "loads"
                ],
                "summary": "Operação utilizada para cancelar uma lista de produtos enviados (SANDBOX)",
                "operationId": "deleteProduct",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. That's all you need to authorize. The Access token can be found in your Admin console.",
                        "name": "access_token",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "path",
                        "description": "SKU do produto do lojista que deverá ser alterado.",
                        "name": "skuSellerId",
                        "required": true,
                        "type": "string"
                    }
                ]
            }
        },
        "/sellerItems": {
            "get": {
                "responses": {
                    "200": {
                        "description": "Indica que o processamento foi realizado corretamente e o retorno será conforme a expectativa.",
                        "schema": {
                            "$ref": "#/definitions/GetSellerItemsResponse"
                        }
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated. Check your headers, `authorization` field is required."
                    },
                    "403": {
                        "description": "Server refused to process your request. Please check the API SLA and reduce number of requests per second."
                    },
                    "404": {
                        "description": "Object not found."
                    },
                    "405": {
                        "description": "Método não Permitido."
                    }
                },
                "description": "Recupera todos os produtos que estão associados ao Lojista, mesmo os que não estão disponíveis para venda.",
                "tags": [
                    "sellerItems"
                ],
                "summary": "Recupera todos os produtos que estão associados ao Lojista",
                "operationId": "getSellerItems",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. That's all you need to authorize. The Access token can be found in your Admin console.",
                        "name": "access_token",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "query",
                        "description": "Site do qual deseja consultar o produto. Se o parâmetro não for informado, serão trazidos apenas produtos do Extra. Consulte a lista completa de sites disponíveis no serviço <a href='#!/sites' >GET /sites</a>",
                        "name": "site",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "description": "Parâmetro utilizado para indicar a posição inicial da consulta. O registro inicial tem índice zero (0), ou seja, para trazer os 10 primeiros registros, informa 0 para offset e 10 para limit.",
                        "name": "offset",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "description": "Parâmetro utilizado para indicar a quantidade de registros que deve ser trazido na consulta.",
                        "name": "limit",
                        "required": true,
                        "type": "integer"
                    }
                ]
            }
        },
        "/sellerItems/{skuSellerId}": {
            "get": {
                "responses": {
                    "200": {
                        "description": "Indica que o processamento foi realizado corretamente e o retorno será conforme a expectativa.",
                        "schema": {
                            "$ref": "#/definitions/SellerItem"
                        }
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated. Check your headers, `authorization` field is required."
                    },
                    "403": {
                        "description": "Server refused to process your request. Please check the API SLA and reduce number of requests per second."
                    },
                    "404": {
                        "description": "Object not found."
                    },
                    "405": {
                        "description": "Método não Permitido."
                    }
                },
                "description": "Recupera detalhes do item do Lojista através do skuSellerId (sku do produto do Lojista) informado.",
                "tags": [
                    "sellerItems"
                ],
                "summary": "Recupera detalhes do item do Lojista através do skuSellerId (sku do produto do Lojista) informado",
                "operationId": "getSellerItemBySkuSellerId",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. That's all you need to authorize. The Access token can be found in your Admin console.",
                        "name": "access_token",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "path",
                        "description": "SKU ID do Lojista.",
                        "name": "skuSellerId",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "description": "Site do qual deseja consultar o produto. Se o parâmetro não for informado, serão trazidos apenas produtos do Extra. Consulte a lista completa de sites disponíveis no serviço <a href='#!/sites'  >GET /sites</a>",
                        "name": "site",
                        "required": false,
                        "type": "string"
                    }
                ]
            }
        },
        "/sellerItems/{skuSellerId}/status": {
            "put": {
                "responses": {
                    "200": {
                        "description": "No response was specified"
                    },
                    "204": {
                        "description": "Indica que o recurso foi alterado ou excluído com sucesso."
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Requisição Requer Antenticação."
                    }
                },
                "description": "Atualiza o status do produto no Marketplace. Se setado para false, o produto é desativado e deixa de ser vendido no Marketplace.<p ='obs'>Retorno do Serviço O retorno deste serviço é baseado no padrão definido para métodos PUT e DELETE, sendo retornado apenas o Status HTTP 204 - No Content.",
                "tags": [
                    "sellerItems"
                ],
                "summary": "Ativação/Desativação de produto no Marketplace",
                "operationId": "putSellerItemStatus",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. That's all you need to authorize. The Access token can be found in your Admin console.",
                        "name": "access_token",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "path",
                        "description": "SKU ID do Lojista.",
                        "name": "skuSellerId",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "description": "Parâmetros para ativação/desativação do SKU.",
                        "name": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/SellerItemStatus"
                        }
                    }
                ]
            }
        },
        "/sellerItems/{skuSellerId}/stock": {
            "put": {
                "responses": {
                    "200": {
                        "description": "No response was specified"
                    },
                    "204": {
                        "description": "Indica que o recurso foi alterado ou excluído com sucesso."
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated. Check your headers, `authorization` field is required."
                    }
                },
                "description": "Atualiza a quantidade disponível para venda do Item do Lojista informado. Se atualizado para zero, o item não estará mais disponível para venda. Retorno do Serviço O retorno deste serviço é baseado no padrão definido para métodos PUT e DELETE, sendo retornado apenas o Status HTTP 204 - No Content.",
                "tags": [
                    "sellerItems"
                ],
                "summary": "Atualização de estoque do item do Lojista",
                "operationId": "putSellerItemStock",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. That's all you need to authorize. The Access token can be found in your Admin console.",
                        "name": "access_token",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "path",
                        "description": "SKU ID do Lojista.",
                        "name": "skuSellerId",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "description": "Parâmetros para atualização de estoque do SKU",
                        "name": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Stock"
                        }
                    }
                ]
            }
        },
        "/sellerItems/{skuSellerId}/prices": {
            "put": {
                "responses": {
                    "200": {
                        "description": "No response was specified"
                    },
                    "204": {
                        "description": "Indica que o recurso foi alterado ou excluído com sucesso."
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated. Check your headers, `authorization` field is required."
                    }
                },
                "description": "Atualiza o preço 'de' e o preço 'por' (preço real para venda) do item do Lojista informado.Atenção:  Para proteção do lojista, existe uma regra de validação de preços que impede alterações muito grandes em uma única operação. Não é permitido a alteração com valores 50% menores que o valor atual.  Para este tipo de crítica será retornado um Status HTTP <a href='../apis/index.html#error_codes'>422</a>, seguido da mensagem: Alteração não permitida, variação de preço muito grande. Retorno do Serviço O retorno deste serviço é baseado no padrão definido para métodos PUT e DELETE, sendo retornado apenas o Status HTTP 204 - No Content.",
                "tags": [
                    "sellerItems"
                ],
                "summary": "Atualização de preço do item do Lojista",
                "operationId": "putSellerItemPrices",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. That's all you need to authorize. The Access token can be found in your Admin console.",
                        "name": "access_token",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "path",
                        "description": "SKU ID do Lojista.",
                        "name": "skuSellerId",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "description": "Parâmetros para atualização de preço do SKU",
                        "name": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Prices"
                        }
                    }
                ]
            }
        },
        "/sellerItems/status/selling": {
            "get": {
                "responses": {
                    "200": {
                        "description": "Indica que o processamento foi realizado corretamente e o retorno será conforme a expectativa.",
                        "schema": {
                            "$ref": "#/definitions/GetSellerItemsResponse"
                        }
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated. Check your headers, `authorization` field is required."
                    },
                    "403": {
                        "description": "Server refused to process your request. Please check the API SLA and reduce number of requests per second."
                    },
                    "404": {
                        "description": "Object not found."
                    },
                    "405": {
                        "description": "Método não Permitido."
                    }
                },
                "description": "Recupera apenas os produtos do Lojista que estão disponíveis para venda, ou seja, que possuem estoque e preço atualizados e imagem(ns) válida(s).",
                "tags": [
                    "sellerItems"
                ],
                "summary": "Recupera produtos do Lojista que estão disponíveis para venda",
                "operationId": "getSellerItemsByStatusActive",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. That's all you need to authorize. The Access token can be found in your Admin console.",
                        "name": "access_token",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "query",
                        "description": "Site do qual deseja consultar os produtos. Se o parâmetro não for informado, serão trazidos apenas produtos do Extra. Os possíveis sites são: 'EX', 'PF', 'CB', 'EH', 'BT', 'CD'. Consulte a lista completa de sites disponíveis no serviço <a href='#!/sites'  >GET /sites</a>",
                        "name": "site",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "description": "Parâmetro utilizado para indicar a posição inicial da consulta. O registro inicial tem índice zero (0), ou seja, para trazer os 10 primeiros registros, informa 0 para offset e 10 para limit.",
                        "name": "offset",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "description": "Parâmetro utilizado para indicar a quantidade de registros que deve ser trazido na consulta",
                        "name": "limit",
                        "required": true,
                        "type": "integer"
                    }
                ]
            }
        },
        "/orders": {
            "get": {
                "responses": {
                    "200": {
                        "description": "Indica que o processamento foi realizado corretamente e o retorno será conforme a expectativa.",
                        "schema": {
                            "$ref": "#/definitions/GetOrdersResponse"
                        }
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated. Check your headers, `authorization` field is required."
                    },
                    "403": {
                        "description": "Server refused to process your request. Please check the API SLA and reduce number of requests per second."
                    },
                    "404": {
                        "description": "Object not found."
                    },
                    "405": {
                        "description": "Método não Permitido."
                    }
                },
                "description": "Operação utilizada para retornar informações de todos os pedidos, independente do status em que se encontram os mesmos.Observação: Os campos retornados dependem do status do pedido, por exemplo, no status new, as informações de entrega são suprimidas para evitar a entrega antes da confirmação do pagamento. Nesta documentação estão presentes todos os campos de Pedido. Para saber quais campos são retornados para cada status do pedido, basta consultar a documentação de cada um dos métodos de consulta de pedidos por status.",
                "tags": [
                    "orders"
                ],
                "summary": "Recupera detalhes de todos os pedidos",
                "operationId": "getOrders",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. That's all you need to authorize. The Access token can be found in your Admin console.",
                        "name": "access_token",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "query",
                        "description": "Parâmetro utilizado para indicar a posição inicial da consulta. O registro inicial tem índice zero (0), ou seja, para trazer os 10 primeiros registros, informa 0 para offset e 10 para limit.",
                        "name": "offset",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "description": "Parâmetro utilizado para indicar a quantidade de registros que deve ser trazido na consulta.",
                        "name": "limit",
                        "required": true,
                        "type": "integer"
                    }
                ]
            },
            "post": {
                "responses": {
                    "200": {
                        "description": "No response was specified"
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated. Check your headers, `authorization` field is required."
                    },
                    "405": {
                        "description": "Método não Permitido."
                    },
                    "415": {
                        "description": "Tipo de media inválida (falta de informar o content-type correto, ver JSON)."
                    }
                },
                "description": "Operação que cria um pedido.<p class='obs obs-danger' >Esta operação só está disponível em ambiente de Sandbox para que seja possível executar todo o fluxo de testes da aplicação. É necessário aguardar cerca de 30 minutos para que o pedido seja indexado. Após esse período será possível consultar os pedidos através do serviço <a href='#!/orders/getOrdersByStatusNew_get_2'  >GET /orders/status/new</a>. O Pedido só pode ser aprovado após aparecer com status NEW.  Clique <a href='../tutoriais/exemplo_orders_v2.json'  >aqui</a> para obter um exemplo de conteúdo JSON suportado por esse serviço.Retorno do Serviço O retorno deste serviço é baseado no padrão definido para método POST, sendo retornado apenas o Status HTTP 201 - Created.",
                "tags": [
                    "orders"
                ],
                "summary": "Operação para criar um pedido",
                "operationId": "postOrder",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. That's all you need to authorize. The Access token can be found in your Admin console.",
                        "name": "access_token",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "body",
                        "description": "Objeto para criação do pedido.",
                        "name": "order",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/OrderSandbox"
                        }
                    }
                ]
            }
        },
        "/orders/status/approved": {
            "get": {
                "responses": {
                    "200": {
                        "description": "Indica que o processamento foi realizado corretamente e o retorno será conforme a expectativa.",
                        "schema": {
                            "$ref": "#/definitions/GetOrdersResponse"
                        }
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated. Check your headers, `authorization` field is required."
                    },
                    "403": {
                        "description": "Server refused to process your request. Please check the API SLA and reduce number of requests per second."
                    },
                    "404": {
                        "description": "Object not found."
                    },
                    "405": {
                        "description": "Método não Permitido."
                    }
                },
                "description": "Recupera uma lista de pedidos com status Aprovado que estão relacionados com o token do lojista informado. Este serviço irá retornar um ou mais pedidos que já possua pagamento aprovado, ou seja, são pedidos que podem ter o processo de entrega iniciado de imediato.Obs.: Os emails transacionais que reportam o status do pedido para os clientes devem ser desabibilitados. Esse tipo de email já é enviado pelo Marketplace.",
                "tags": [
                    "orders"
                ],
                "summary": "Recupera uma lista de pedidos Aprovados",
                "operationId": "getOrdersByStatusApproved",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. That's all you need to authorize. The Access token can be found in your Admin console.",
                        "name": "access_token",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "query",
                        "description": "Data de aprovação. Esse campo aceita um range de datas separados por vírgula, e os formatos aceitos para o campo são os seguintes: approvedAt={data inicial},{data final} approvedAt={data inicial},* approvedAt=*,{data final} onde, o * é obrigatório e indica a que todas as datas antes ou depois da outra data passada devem ser consideradas.",
                        "name": "approvedAt",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "description": "Nome do Cliente.",
                        "name": "customer.name",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "description": "Documento do Cliente.",
                        "name": "customer.documentNumber",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "description": "Parâmetro utilizado para indicar a posição inicial da consulta. O registro inicial tem índice zero (0), ou seja, para trazer os 10 primeiros registros, informa 0 para offset e 10 para limit.",
                        "name": "offset",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "description": "Parâmetro utilizado para indicar a quantidade de registros que deve ser trazido na consulta.",
                        "name": "limit",
                        "required": true,
                        "type": "integer"
                    }
                ]
            }
        },
        "/orders/status/canceled": {
            "get": {
                "responses": {
                    "200": {
                        "description": "Indica que o processamento foi realizado corretamente e o retorno será conforme a expectativa.",
                        "schema": {
                            "$ref": "#/definitions/GetOrdersResponse"
                        }
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated. Check your headers, `authorization` field is required."
                    },
                    "403": {
                        "description": "Server refused to process your request. Please check the API SLA and reduce number of requests per second."
                    },
                    "404": {
                        "description": "Object not found."
                    },
                    "405": {
                        "description": "Método não Permitido."
                    }
                },
                "description": "Retorna uma lista de pedidos Cancelados que estão relacionados com o token do lojista informado.Obs.: Os emails transacionais que reportam o status do pedido para os clientes devem ser desabibilitados. Esse tipo de email já é enviado pelo Marketplace.",
                "tags": [
                    "orders"
                ],
                "summary": "Retorna uma lista de pedidos Cancelados",
                "operationId": "getOrdersByStatusCanceled",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Client ID disponibilizado na criação da APP",
                        "name": "client_id",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "header",
                        "description": "Authorization token. That's all you need to authorize. The Access token can be found in your Admin console.",
                        "name": "access_token",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "query",
                        "description": "Data de cancelemento. Esse campo aceita um range de datas separados por vírgula, e os formatos aceitos para o campo são os seguintes: canceledAt={data inicial},{data final} canceledAt={data inicial},* canceledAt=*,{data final} onde, o * é obrigatório e indica a que todas as datas antes ou depois da outra data passada devem ser consideradas.",
                        "name": "canceledAt",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "description": "Nome do Cliente.",
                        "name": "customer.name",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "description": "Documento do Cliente.",
                        "name": "customer.documentNumber",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "description": "Parâmetro utilizado para indicar a posição inicial da consulta. O registro inicial tem índice zero (0), ou seja, para trazer os 10 primeiros registros, informa 0 para offset e 10 para limit.",
                        "name": "offset",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "description": "Parâmetro utilizado para indicar a quantidade de registros que deve ser trazido na consulta.",
                        "name": "limit",
                        "required": true,
                        "type": "integer"
                    }
                ]
            }
        },
        "/orders/status/delivered": {
            "get": {
                "responses": {
                    "200": {
                        "description": "Indica que o processamento foi realizado corretamente e o retorno será conforme a expectativa.",
                        "schema": {
                            "$ref": "#/definitions/GetOrdersResponse"
                        }
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated. Check your headers, `authorization` field is required."
                    },
                    "403": {
                        "description": "Server refused to process your request. Please check the API SLA and reduce number of requests per second."
                    },
                    "404": {
                        "description": "Object not found."
                    },
                    "405": {
                        "description": "Método não Permitido."
                    }
                },
                "description": "Recupera uma lista de pedidos Entregues que estão relacionados com o token do lojista informado. Este estado representa os pedidos cujos itens foram todos entregues.Obs.: Os emails transacionais que reportam o status do pedido para os clientes devem ser desabibilitados. Esse tipo de email já é enviado pelo Marketplace.",
                "tags": [
                    "orders"
                ],
                "summary": "Recupera uma lista de pedidos Entregues",
                "operationId": "getOrdersByStatusDelivered",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Client ID disponibilizado na criação da APP",
                        "name": "client_id",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "header",
                        "description": "Authorization token. That's all you need to authorize. The Access token can be found in your Admin console.",
                        "name": "access_token",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "query",
                        "description": "Data de entrega. Esse campo aceita um range de datas separados por vírgula, e os formatos aceitos para o campo são os seguintes: deliveredAt={data inicial},{data final} deliveredAt={data inicial},* deliveredAt=*,{data final} onde, o * é obrigatório e indica a que todas as datas antes ou depois da outra data passada devem ser consideradas.",
                        "name": "deliveredAt",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "description": "Nome do Cliente.",
                        "name": "customer.name",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "description": "Documento do Cliente.",
                        "name": "customer.documentNumber",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "description": "Parâmetro utilizado para indicar a posição inicial da consulta. O registro inicial tem índice zero (0), ou seja, para trazer os 10 primeiros registros, informa 0 para offset e 10 para limit.",
                        "name": "offset",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "description": "Parâmetro utilizado para indicar a quantidade de registros que deve ser trazido na consulta.",
                        "name": "limit",
                        "required": true,
                        "type": "integer"
                    }
                ]
            }
        },
        "/orders/status/new": {
            "get": {
                "responses": {
                    "200": {
                        "description": "Indica que o processamento foi realizado corretamente e o retorno será conforme a expectativa.",
                        "schema": {
                            "$ref": "#/definitions/GetOrdersStatusNewResponse"
                        }
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated. Check your headers, `authorization` field is required."
                    },
                    "403": {
                        "description": "Server refused to process your request. Please check the API SLA and reduce number of requests per second."
                    },
                    "404": {
                        "description": "Object not found."
                    },
                    "405": {
                        "description": "Método não Permitido."
                    }
                },
                "description": "Recupera uma lista de pedidos com status Novo que estão relacionados com o token do lojista informado. Este estado representa os pedidos fechados que ainda não foram aprovados, ou seja, pedidos que ainda não devem ser entregues, pois estão aguardado o pagamento. Alguns campos não serão enviados, para evitar a entrega antes da confirmação do pagamento.Obs.: Os emails transacionais que reportam o status do pedido para os clientes devem ser desabibilitados. Esse tipo de email já é enviado pelo Marketplace.",
                "tags": [
                    "orders"
                ],
                "summary": "Recupera uma lista de pedidos Novos",
                "operationId": "getOrdersByStatusNew",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Client ID disponibilizado na criação da APP",
                        "name": "client_id",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "header",
                        "description": "Authorization token. That's all you need to authorize. The Access token can be found in your Admin console.",
                        "name": "access_token",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "query",
                        "description": "Data de compra. Esse campo aceita um range de datas separados por vírgula, e os formatos aceitos para o campo são os seguintes: purchasedAt={data inicial},{data final} purchasedAt={data inicial},* purchasedAt=*,{data final} onde, o * é obrigatório e indica a que todas as datas antes ou depois da outra data passada devem ser consideradas.",
                        "name": "purchasedAt",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "description": "Nome do Cliente.",
                        "name": "customer.name",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "description": "Documento do Cliente.",
                        "name": "customer.documentNumber",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "description": "Parâmetro utilizado para indicar a posição inicial da consulta. O registro inicial tem índice zero (0), ou seja, para trazer os 10 primeiros registros, informa 0 para offset e 10 para limit.",
                        "name": "offset",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "description": "Parâmetro utilizado para indicar a quantidade de registros que deve ser trazido na consulta.",
                        "name": "limit",
                        "required": true,
                        "type": "integer"
                    }
                ]
            }
        },
        "/orders/status/partiallyDelivered": {
            "get": {
                "responses": {
                    "200": {
                        "description": "Indica que o processamento foi realizado corretamente e o retorno será conforme a expectativa.",
                        "schema": {
                            "$ref": "#/definitions/GetOrdersResponse"
                        }
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated. Check your headers, `authorization` field is required."
                    },
                    "403": {
                        "description": "Server refused to process your request. Please check the API SLA and reduce number of requests per second."
                    },
                    "404": {
                        "description": "Object not found."
                    },
                    "405": {
                        "description": "Método não Permitido."
                    }
                },
                "description": "Retorna uma lista de pedidos Parcialmente Entregues que estão relacionados com o token do lojista informado.  Os pedidos ficam nesse estado apenas quando ocorreu quebra de entrega e alguns produtos da lista completa já foram sinalizados como Entregues pelo serviço <a href='#!/orders/persistTracking_post_10'  >POST /orders/{orderId}/trackings/delivered</a>Obs.: Os emails transacionais que reportam o status do pedido para os clientes devem ser desabibilitados. Esse tipo de email já é enviado pelo Marketplace.",
                "tags": [
                    "orders"
                ],
                "summary": "Retorna uma lista de pedidos Parcialmente Entregues",
                "operationId": "getOrdersByStatusPartiallyDelivered",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Client ID disponibilizado na criação da APP",
                        "name": "client_id",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "header",
                        "description": "Authorization token. That's all you need to authorize. The Access token can be found in your Admin console.",
                        "name": "access_token",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "query",
                        "description": "Data de envio. Esse campo aceita um range de datas separados por vírgula, e os formatos aceitos para o campo são os seguintes: sentAt={data inicial},{data final} sentAt={data inicial},* sentAt=*,{data final} onde, o * é obrigatório e indica a que todas as datas antes ou depois da outra data passada devem ser consideradas.",
                        "name": "sentAt",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "description": "Nome do Cliente.",
                        "name": "customer.name",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "description": "Documento do Cliente.",
                        "name": "customer.documentNumber",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "description": "Parâmetro utilizado para indicar a posição inicial da consulta. O registro inicial tem índice zero (0), ou seja, para trazer os 10 primeiros registros, informa 0 para offset e 10 para limit.",
                        "name": "offset",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "description": "Parâmetro utilizado para indicar a quantidade de registros que deve ser trazido na consulta.",
                        "name": "limit",
                        "required": true,
                        "type": "integer"
                    }
                ]
            }
        },
        "/orders/status/partiallySent": {
            "get": {
                "responses": {
                    "200": {
                        "description": "Indica que o processamento foi realizado corretamente e o retorno será conforme a expectativa.",
                        "schema": {
                            "$ref": "#/definitions/GetOrdersResponse"
                        }
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated. Check your headers, `authorization` field is required."
                    },
                    "403": {
                        "description": "Server refused to process your request. Please check the API SLA and reduce number of requests per second."
                    },
                    "404": {
                        "description": "Object not found."
                    },
                    "405": {
                        "description": "Método não Permitido."
                    }
                },
                "description": "Retorna uma lista de pedidos Parcialmente Enviados que estão relacionados com o token do lojista informado. Ocorre quando um ou mais itens foram enviados, porém ainda existem itens que não foram enviados.  Os pedidos ficam nesse estado apenas quando ocorreu quebra de entrega e alguns produtos da lista completa já foram sinalizados como Enviados pelo serviço <a href='#!/orders/persistTracking_post_9'  >POST /orders/{orderId}/trackings/sent</a>Obs.: Os emails transacionais que reportam o status do pedido para os clientes devem ser desabibilitados. Esse tipo de email já é enviado pelo Marketplace.",
                "tags": [
                    "orders"
                ],
                "summary": "Retorna uma lista de pedidos Parcialmente Enviados",
                "operationId": "getOrdersByStatusPartiallySent",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Client ID disponibilizado na criação da APP",
                        "name": "client_id",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "header",
                        "description": "Authorization token. That's all you need to authorize. The Access token can be found in your Admin console.",
                        "name": "access_token",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "query",
                        "description": "Data de envio. Esse campo aceita um range de datas separados por vírgula, e os formatos aceitos para o campo são os seguintes: sentAt={data inicial},{data final} sentAt={data inicial},* sentAt=*,{data final} onde, o * é obrigatório e indica a que todas as datas antes ou depois da outra data passada devem ser consideradas.",
                        "name": "sentAt",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "description": "Nome do Cliente.",
                        "name": "customer.name",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "description": "Documento do Cliente.",
                        "name": "customer.documentNumber",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "description": "Parâmetro utilizado para indicar a posição inicial da consulta. O registro inicial tem índice zero (0), ou seja, para trazer os 10 primeiros registros, informa 0 para offset e 10 para limit.",
                        "name": "offset",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "description": "Parâmetro utilizado para indicar a quantidade de registros que deve ser trazido na consulta.",
                        "name": "limit",
                        "required": true,
                        "type": "integer"
                    }
                ]
            }
        },
        "/orders/status/sent": {
            "get": {
                "responses": {
                    "200": {
                        "description": "Indica que o processamento foi realizado corretamente e o retorno será conforme a expectativa.",
                        "schema": {
                            "$ref": "#/definitions/GetOrdersResponse"
                        }
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated. Check your headers, `authorization` field is required."
                    },
                    "403": {
                        "description": "Server refused to process your request. Please check the API SLA and reduce number of requests per second."
                    },
                    "404": {
                        "description": "Object not found."
                    },
                    "405": {
                        "description": "Método não Permitido."
                    }
                },
                "description": "Recupera uma lista de pedidos com status Enviado, que estão relacionados com o token do lojista informado. Este estado representa os pedidos cujos itens foram todos entregues.Obs.: Os emails transacionais que reportam o status do pedido para os clientes devem ser desabibilitados. Esse tipo de email já é enviado pelo Marketplace.",
                "tags": [
                    "orders"
                ],
                "summary": "Recupera uma lista de pedidos Enviados",
                "operationId": "getOrdersByStatusSent",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Client ID disponibilizado na criação da APP",
                        "name": "client_id",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "header",
                        "description": "Authorization token. That's all you need to authorize. The Access token can be found in your Admin console.",
                        "name": "access_token",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "query",
                        "description": "Data de envio. Esse campo aceita um range de datas separados por vírgula, e os formatos aceitos para o campo são os seguintes: sentAt={data inicial},{data final} sentAt={data inicial},* sentAt=*,{data final} onde, o * é obrigatório e indica a que todas as datas antes ou depois da outra data passada devem ser consideradas",
                        "name": "sentAt",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "description": "Nome do Cliente",
                        "name": "customer.name",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "description": "Documento do Cliente",
                        "name": "customer.documentNumber",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "description": "Parâmetro utilizado para indicar a posição inicial da consulta. O registro inicial tem índice zero (0), ou seja, para trazer os 10 primeiros registros, informa 0 para offset e 10 para limit.",
                        "name": "offset",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "description": "Parâmetro utilizado para indicar a quantidade de registros que deve ser trazido na consulta",
                        "name": "limit",
                        "required": true,
                        "type": "integer"
                    }
                ]
            }
        },
        "/orders/{orderId}": {
            "get": {
                "responses": {
                    "200": {
                        "description": "Indica que o processamento foi realizado corretamente e o retorno será conforme a expectativa.",
                        "schema": {
                            "$ref": "#/definitions/Order"
                        }
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated. Check your headers, `authorization` field is required."
                    },
                    "403": {
                        "description": "Server refused to process your request. Please check the API SLA and reduce number of requests per second."
                    },
                    "404": {
                        "description": "Object not found."
                    },
                    "405": {
                        "description": "Método não Permitido."
                    }
                },
                "description": "Recupera detalhes do pedido informado.Observação: Os campos retornados dependem do status do pedido, por exemplo, no status new, as informações de entrega são suprimidas para evitar a entrega antes da confirmação do pagamento. Nesta documentação estão presentes todos os campos de Pedido. Para saber quais campos são retornados para cada status do pedido, basta consultar a documentação de cada um dos métodos de consulta de pedidos por status. Deve ser informado um pedido válido.Abaixo seguem os valores possíveis para o tipo de pagamento (paymentType)<table class='table'><tr><th>Código</th><th>Descrição</th></tr><tr><td>1</td><td>Cartão de Crédito</td></tr><tr><td>2</td><td>Boleto</td></tr><tr><td>4</td><td>Cupom</td></tr><tr><td>5</td><td>Transferência</td></tr></table>Segue abaixo a lista de Status existentes para pedidos. Os status representam a situação consolidada do pedido: <table class = 'table'><tr><th>Código</th><th>Descrição</th></tr><tr><td>NEW</td><td>Novo</td></tr><tr><td>GDE</td><td>Entregas geradas</td></tr><tr><td>PEN</td><td>Pagamento pendente</td></tr><tr><td>PAY</td><td>Pagamento aprovado</td></tr><tr><td>SHP</td><td>Enviado</td></tr><tr><td>DLV</td><td>Entregue</td></tr></table>Segue abaixo a lista de Control Points existentes. Os Control Points estão presentes em cada operação de tracking e representam o status de cada operação realizada no pedido: <table class = 'table'><tr><th>Código</th><th>Sequência / ordem</th><th>Descrição</th></tr><tr><td>AAP</td><td>1</td><td>Aguardando a confirmação do pagamento</td></tr><tr><td>ACR</td><td>2</td><td>Análise de dados</td></tr><tr><td>ADT</td><td>3</td><td>Data de entrega ajustada</td></tr><tr><td>AEG</td><td>4</td><td>Aguardando entregas pagamento</td></tr><tr><td>AES</td><td>5</td><td>Disponibilidade de estoque</td></tr><tr><td>AGR</td><td>6</td><td>Dificuldade na entrega</td></tr><tr><td>AMC</td><td>7</td><td>Análise de dados</td></tr><tr><td>AR1</td><td>8</td><td>Aviso de Entrega 1</td></tr><tr><td>AR2</td><td>9</td><td>Aviso de Entrega 2</td></tr><tr><td>ARE</td><td>10</td><td>Aguardando Retirada</td></tr><tr><td>ARL</td><td>11</td><td>Disponível para Entrega</td></tr><tr><td>ATR</td><td>12</td><td>Dificuldade na entrega</td></tr><tr><td>AU1</td><td>13</td><td>Dificuldade na entrega</td></tr><tr><td>AU2</td><td>14</td><td>Dificuldade na entrega</td></tr><tr><td>AU3</td><td>15</td><td>Dificuldade na entrega</td></tr><tr><td>AVA</td><td>16</td><td>Dificuldade na entrega</td></tr><tr><td>CAN</td><td>17</td><td>Entrega Cancelada<
[...]
