{
    "swagger": "2.0",
    "info": {
        "title": "BrandLovers Marketplace API",
        "description": "Allows sellers to: 1) Load products definitions to the BrandLovers marktplace. 2) Receive and update orders status. 3) Receive and update shipping information. 4) Receive and update customer tickets. All requests use consume application/json and return application/json. All request must be authenticated and use HTTPS.",
        "version": "1.0.0"
    },
    "host": "api.brandlovers.com",
    "schemes": [
        "https"
    ],
    "basePath": "/marketplace/v1",
    "produces": [
        "application/json"
    ],
    "paths": {
        "/products": {
            "post": {
                "responses": {
                    "200": {
                        "description": "Server received your request and will start background processing."
                    },
                    "400": {
                        "description": "Bad Request."
                    },
                    "401": {
                        "description": "Not authenticated. Check your headers, `authorization` is required."
                    }
                },
                "description": "Use this enpoint to upload new product information to the Marketplace. This enpoint expects a json document with array of products. The server will load each product as an individual item that can be manipulated using your own `productID`. This system is idenpontent, this means that once a `productID` is created it cannot be re-created using this tool. In order to update, edit or even delete a product use the PUT or DELETE methods with the correct referencing your `productID`",
                "tags": [
                    "products"
                ],
                "summary": "Allows new products to be loaded into the marketplace",
                "operationId": "postProducts",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. That's all you need to authorize. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "body",
                        "description": "JSON with a list of new products to be updloaded to the platform",
                        "name": "products",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Product"
                            }
                        }
                    }
                ]
            },
            "get": {
                "responses": {
                    "200": {
                        "description": "Successful request."
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated. Check your request header, `authorization` field is required."
                    },
                    "403": {
                          "description": "Server refused to process your request. Please check the API SLA and reduce number of requests per second."
                    },
                    "404": {
                        "description": "Object not found."
                    }
                },
                "description": "Get a list of my products loaded sucessfully loaded into the Marketplace. This dosen't means that products are eligible for sale, just that they are loaded into the server database.",
                "tags": [
                    "products"
                ],
                "summary": "Returns a list of products loaded into BrandLovers Marketplace",
                "operationId": "getProducts",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. That's all you need to authorize. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "query",
                        "description": "Number or items to skip when executing query. Use this conjuction with `limit` to paginate across the results.",
                        "name": "offset",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "description": "Number of items to retun. Defaults to 100. Max alowed is 200. Use this conjuction with `offset` to paginate across the results. ",
                        "name": "limit",
                        "required": true,
                        "type": "integer"
                    }
                ]
            }
        },
        "/product/{skuSellerId}": {
            "get": {
                "responses": {
                    "200": {
                        "description": "Sucess fetching the object",
                        "schema": {
                            "$ref": "#/definitions/GetProduct"
                        }
                    },
                    "400": {
                        "description": "Bad request. In general this means a invalid skuSellerId"
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated. Check your request header, `authorization` field is required."
                    },
                    "403": {
                        "description": "Server refused to process your request. Please check the API SLA and reduce number of requests per second."
                    },
                    "404": {
                        "description": "Object not found."
                    },
                    "405": {
                        "description": "Invalid method."
                    }
                },
                "description": "Returns all details of a product in the Server Database as well relevant information. This service will return a json document with product detail, status, price and invetory in the Brand Lovers marketplace",
                "tags": [
                    "products"
                ],
                "summary": "Returns all details of a product in the Server Database as well relevant information",
                "operationId": "getProduct",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. That's all you need to authorize. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "path",
                        "description": "SKU ID do Lojista.",
                        "name": "skuSellerId",
                        "required": true,
                        "type": "string"
                    }
                ]
            },
            "put": {
                "responses": {
                    "200": {
                        "description": "Sucess processing your request."
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated. Check your request header, `authorization` field is required."
                    },
                    "403": {
                        "description": "Server refused to process your request. Please check the API SLA and reduce number of requests per second."
                    },
                    "404": {
                        "description": "Object not found."
                    }
                },
                "description": "Operação utilizada para alterar um produto enviado na carga. O produto só pode ser alterado antes de assumir o status Disponível (AVAILABLE). Produtos já disponíveis não podem ser alterados através de serviços. Para mais informações.",
                "tags": [
                    "products"
                ],
                "summary": "Operação para alterar um produto",
                "operationId": "putProduct",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. That's all you need to authorize. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "path",
                        "description": "SKU do produto do lojista que deverá ser alterado.",
                        "name": "skuSellerId",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "description": "Parâmetros para alterar um produto enviado na carga.",
                        "name": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ProductUpdate"
                        }
                    }
                ]
            }
        },
        "/product": {
          "post": {
              "responses": {
                  "200": {
                      "description": "Server received your request and will start background processing."
                  },
                  "400": {
                      "description": "Bad Request."
                  },
                  "401": {
                      "description": "Not authenticated. Check your headers, `authorization` is required."
                  }
              },
              "description": "Use this enpoint to upload a single new product information to the Marketplace. This enpoint expects a json document with one product. If you whant to upload multiple products in a single API call use POST /product method. The server will load each product as an individual item that can be manipulated using your own `productID`. This system is idenpontent, this means that once a `productID` is created it cannot be re-created using this tool. In order to update, edit or even delete a product use the PUT or DELETE methods with the correct referencing your `productID`",
              "tags": [
                  "products"
              ],
              "summary": "Allows new products to be loaded into the marketplace",
              "operationId": "postProduct",
              "produces": [
                  "application/json"
              ],
              "consumes": [
                  "application/json"
              ],
              "parameters": [
                  {
                      "in": "header",
                      "description": "Authorization token. That's all you need to authorize. The Authorization token can be found in your Admin console.",
                      "name": "authorization",
                      "type": "string",
                      "required": true
                  },
                  {
                      "in": "body",
                      "description": "JSON with a list of new products to be updloaded to the platform",
                      "name": "products",
                      "required": true,
                      "schema": {
                          "type": "array",
                          "items": {
                              "$ref": "#/definitions/Product"
                          }
                      }
                  }
              ]
          }
        },
        "/products/status": {
            "get": {
                "responses": {
                    "200": {
                        "description": "Success processing your request.",
                        "schema": {
                            "$ref": "#/definitions/GetSellerItemsStatusUpdatingResponse"
                        }
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "404": {
                        "description": "Object not found."
                    },
                    "405": {
                        "description": "Invalid method."
                    }
                },
                "description": "Returns a list with seller products with brief status information. Please note that this endpoint will not return full details of each product, just the status, skuSellerId and name. For full details of a given procuct use GET /product/{skuSellerId}",
                "tags": [
                    "products"
                ],
                "summary": "Returns seller products status in the marketplace",
                "operationId": "getSellerItemsStatus",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. That's all you need to authorize. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "query",
                        "description": "Number or items to skip when executing query. List starts at zero. Use this conjuction with `limit` to paginate across the results.",
                        "name": "offset",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "description": "Number or items to skip when executing query. List starts at zero. Use this conjuction with `limit` to paginate across the results.",
                        "name": "limit",
                        "required": true,
                        "type": "integer"
                    }
                ]
            },
            "put": {
                "responses": {
                    "200": {
                        "description": "Success processing your request."
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated. Check your request header, `authorization` field is required."
                    }
                },
                "description": "Operação utilizada para ativação/desativação massiva de produtos enviados na carga.",
                "tags": [
                    "products"
                ],
                "summary": "Operação para ativação/desativação massiva de produtos",
                "operationId": "putSellerItemsStatus",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. That's all you need to authorize. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "body",
                        "description": "Parâmetros para ativação/desativação massiva de produtos",
                        "name": "body",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/SellerItemStatusUpdate"
                            }
                        }
                    }
                ]
            }
        },
        "/products/prices": {
            "get": {
                "responses": {
                    "200": {
                        "description": "Success processing your request.",
                        "schema": {
                            "$ref": "#/definitions/GetSellerItemsPricesUpdatingResponse"
                        }
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "404": {
                        "description": "Object not found."
                    },
                    "405": {
                        "description": "Invalid method."
                    }
                },
                "description": "Operação para consulta de status da atualização massiva de preços de produtos enviados.Essa operação deve ser utilizada, principalmente, para recuperar a listagem de erros que podem ter ocorrido na importação de produtos. Não utilize esse serviço para recuperar os dados atuais do produto que está sendo vendido (como preço e estoque). Para recuperar informações de venda do produto, utilize o serviço GET /sellerItems/{skuSellerId}",
                "tags": [
                    "products"
                ],
                "summary": "Operação para consulta de atualização massiva de preços",
                "operationId": "getSellerItemsPricesUpdatingStatus",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. That's all you need to authorize. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "query",
                        "description": "Number or items to skip when executing query. List starts at zero. Use this conjuction with `limit` to paginate across the results.",
                        "name": "offset",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "description": "Number or items to skip when executing query. List starts at zero. Use this conjuction with `limit` to paginate across the results.",
                        "name": "limit",
                        "required": true,
                        "type": "integer"
                    }
                ]
            },
            "put": {
                "responses": {
                    "200": {
                        "description": "Sucess processing your request"
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated. Check your request header, `authorization` field is required."
                    }
                },
                "description": "Allows batch update of product prices. This endpoint expects a json document with an array of products with the seller ID and the new price. Server will process each new product update individually and will ackwlodge as much updates as possible, even if a single product update fails. After this request you can query product final status with GET /product/status",
                "tags": [
                    "products"
                ],
                "summary": "Allows batch update of product prices.",
                "operationId": "putSellerItemsPrices",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. That's all you need to authorize. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "body",
                        "description": "Parâmetros para ativação/desativação massiva de produtos",
                        "name": "body",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/SellerItemPrices"
                            }
                        }
                    }
                ]
            }
        },
        "/products/stocks": {
            "get": {
                "responses": {
                    "200": {
                        "description": "Success processing your request.",
                        "schema": {
                            "$ref": "#/definitions/GetSellerItemsStocksUpdatingResponse"
                        }
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "404": {
                        "description": "Object not found."
                    },
                    "405": {
                        "description": "Invalid method."
                    }
                },
                "description": "Operação para consulta do status da atualização massiva de estoque de produtos enviados.Essa operação deve ser utilizada, principalmente, para recuperar a listagem de erros que podem ter ocorrido na importação de produtos. Não utilize esse serviço para recuperar os dados atuais do produto que está sendo vendido (como preço e estoque). Para recuperar informações de venda do produto, utilize o serviço GET /product/{skuSellerId}",
                "tags": [
                    "products"
                ],
                "summary": "Operação para consulta do status da atualização massiva de estoque",
                "operationId": "getSellerItemsStocksUpdatingStatus",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. That's all you need to authorize. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "query",
                        "description": "Number or items to skip when executing query. List starts at zero. Use this conjuction with `limit` to paginate across the results.",
                        "name": "offset",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "description": "Number or items to skip when executing query. List starts at zero. Use this conjuction with `limit` to paginate across the results.",
                        "name": "limit",
                        "required": true,
                        "type": "integer"
                    }
                ]
            },
            "put": {
                "responses": {
                    "200": {
                        "description": "Sucess processing your request."
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated. Check your request header, `authorization` field is required."
                    }
                },
                "description": "Operação utilizada para atualização de estoque, de forma massiva, de produtos enviados na carga. Retorno do Serviço.",
                "tags": [
                    "products"
                ],
                "summary": "Operação para atualização de estoque de produtos em massa",
                "operationId": "putSellerItemsStocks",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. That's all you need to authorize. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "body",
                        "description": "Parâmetros para atualização massiva de estoque de produtos.",
                        "name": "body",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/SellerItemStocks"
                            }
                        }
                    }
                ]
            }
        },
        "/product/{skuSellerId}/status": {
            "put": {
                "responses": {
                    "200": {
                        "description": "Sucess processing your request"
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Requisição Requer Antenticação."
                    }
                },
                "description": "Atualiza o status do produto no Marketplace. Se setado para false, o produto é desativado e deixa de ser vendido no Marketplace.",
                "tags": [
                    "sellerItems"
                ],
                "summary": "Ativação/Desativação de produto no Marketplace",
                "operationId": "putSellerItemStatus",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. That's all you need to authorize. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "path",
                        "description": "SKU ID do Lojista.",
                        "name": "skuSellerId",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "description": "Parâmetros para ativação/desativação do SKU.",
                        "name": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/SellerItemStatus"
                        }
                    }
                ]
            }
        },
        "/product/{skuSellerId}/stock": {
            "put": {
                "responses": {
                    "200": {
                        "description": "Sucess processing your request"
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated. Check your request header, `authorization` field is required."
                    }
                },
                "description": "Atualiza a quantidade disponível para venda do Item do Lojista informado. Se atualizado para zero, o item não estará mais disponível para venda.",
                "tags": [
                    "sellerItems"
                ],
                "summary": "Atualização de estoque do item do Lojista",
                "operationId": "putSellerItemStock",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. That's all you need to authorize. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "path",
                        "description": "SKU ID do Lojista.",
                        "name": "skuSellerId",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "description": "Parâmetros para atualização de estoque do SKU",
                        "name": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Stock"
                        }
                    }
                ]
            }
        },
        "/product/{skuSellerId}/prices": {
            "put": {
                "responses": {
                    "200": {
                        "description": "Sucess processing your request"
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated. Check your request header, `authorization` field is required."
                    }
                },
                "description": "Allows seller to set the SKU prices (MSRP and/or offer price). All prices must be informed in cents. No commas or periods are accepeted. For example one dollar should be informed as 100. Same as $1,2345.67 must be informed solely as 1234567",
                "tags": [
                    "sellerItems"
                ],
                "summary": "Allows seller to update prices of a single SKU",
                "operationId": "putSellerItemPrices",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. That's all you need to authorize. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "path",
                        "description": "Product SKU",
                        "name": "skuSellerId",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "description": "JSON document with the SKU price",
                        "name": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Prices"
                        }
                    }
                ]
            }
        },
        "/products/status/selling": {
            "get": {
                "responses": {
                    "200": {
                        "description": "Success processing your request.",
                        "schema": {
                            "$ref": "#/definitions/GetSellerItemsResponse"
                        }
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated. Check your request header, `authorization` field is required."
                    },
                    "403": {
                        "description": "Server refused to process your request. Please check the API SLA and reduce number of requests per second."
                    },
                    "404": {
                        "description": "Object not found."
                    },
                    "405": {
                        "description": "Invalid method."
                    }
                },
                "description": "Returns products that are sucessfully listed for sale.",
                "tags": [
                    "sellerItems"
                ],
                "summary": "Returns products that are sucessfully listed for sale.",
                "operationId": "getSellerItemsByStatusActive",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. That's all you need to authorize. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "query",
                        "description": "Marketplace to query for product(s)",
                        "name": "marketplace",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "description": "Number or items to skip when executing query. List starts at zero. Use this conjuction with `limit` to paginate across the results.",
                        "name": "offset",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "description": "Parâmetro utilizado para indicar a quantidade de registros que deve ser trazido na consulta",
                        "name": "limit",
                        "required": true,
                        "type": "integer"
                    }
                ]
            }
        },
        "/orders": {
            "get": {
                "responses": {
                    "200": {
                        "description": "Success processing your request.",
                        "schema": {
                            "$ref": "#/definitions/GetOrdersResponse"
                        }
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated. Check your request header, `authorization` field is required."
                    },
                    "403": {
                        "description": "Server refused to process your request. Please check the API SLA and reduce number of requests per second."
                    },
                    "404": {
                        "description": "Object not found."
                    },
                    "405": {
                        "description": "Invalid method."
                    }
                },
                "description": "Operação utilizada para retornar informações de todos os pedidos, independente do status em que se encontram os mesmos.Observação: Os campos retornados dependem do status do pedido, por exemplo, no status new, as informações de entrega são suprimidas para evitar a entrega antes da confirmação do pagamento. Nesta documentação estão presentes todos os campos de Pedido. Para saber quais campos são retornados para cada status do pedido, basta consultar a documentação de cada um dos métodos de consulta de pedidos por status.",
                "tags": [
                    "orders"
                ],
                "summary": "Recupera detalhes de todos os pedidos",
                "operationId": "getOrders",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. That's all you need to authorize. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "query",
                        "description": "Parâmetro utilizado para indicar a posição inicial da consulta. O registro inicial tem índice zero (0), ou seja, para trazer os 10 primeiros registros, informa 0 para offset e 10 para limit.",
                        "name": "offset",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "description": "Number or items to skip when executing query. List starts at zero. Use this conjuction with `limit` to paginate across the results.",
                        "name": "limit",
                        "required": true,
                        "type": "integer"
                    }
                ]
            }
        },
        "/orders/shipments/delivered": {
            "post": {
                "responses": {
                    "200": {
                        "description": "Sucess. Server received your request."
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated. Check your request header, `authorization` field is required."
                    }
                },
                "description": "Batch update of order shipments status. This alows to inform multiple shipments status",
                "tags": [
                    "orders"
                ],
                "summary": "Batch update of order shipments",
                "operationId": "postOrdersTrackingDelivered",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. That's all you need to authorize. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "body",
                        "description": "JSON body with list of shipments to be updated.",
                        "name": "ordersshipments",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Ordersshipments"
                        }
                    }
                ]
            },
            "get": {
                "responses": {
                    "200": {
                        "description": "Server received your request and will start background processing.",
                        "schema": {
                            "$ref": "#/definitions/GetOrdersTrackingUpdatingResponse"
                        }
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated. Check your request header, `authorization` field is required."
                    },
                    "403": {
                        "description": "Server refused to process your request. Please check the API SLA and reduce number of requests per second."
                    },
                    "404": {
                        "description": "Object not found."
                    },
                    "405": {
                        "description": "Invalid method."
                    }
                },
                "description": "Operação utilizada para consultar o status de uma lista de produtos enviados. É possível refinar a consulta utilizando alguns parâmetros não obrigatórios como: STATUS e DATA DE CADASTRO DO PRODUTO",
                "tags": [
                    "products"
                ],
                "summary": "Operação utilizada para consultar o status dos produtos enviados",
                "operationId": "getOrdersTrackingDelivered",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. That's all you need to authorize. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "query",
                        "description": "Data de envio do produto. Esse campo aceita um range de datas separados por vírgula, e os formatos aceitos para o campo são os seguintes: purchasedAt={data inicial},{data final} purchasedAt={data inicial},* purchasedAt=*,{data final} onde, o * é obrigatório e indica a que todas as datas antes ou depois da outra data passada devem ser consideradas.",
                        "name": "createdAt",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "description": "Status do produto importado.",
                        "name": "status",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "description": "Parâmetro utilizado para indicar a posição do registro inicial que será trazido. A primeira posição é sempre zero (0)",
                        "name": "offset",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "description": "Parâmetro utilizado para indicar a quantidade de registros que deve ser trazido na consulta",
                        "name": "limit",
                        "required": true,
                        "type": "integer"
                    }
                ]
            }
        },
        "/orders/shipments/shipped": {
            "post": {
                "responses": {
                    "200": {
                        "description": "Sucess transaction."
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated. Check your request header, `authorization` field is required."
                    }
                },
                "description": "Allows batch updates of order shippments.",
                "tags": [
                    "orders"
                ],
                "summary": "Batch update of order shipments",
                "operationId": "postOrdersshipmentsent",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "description": "Arquivo em formato JSON cujo conteúdo contêm uma lista de objetos de order tracking.",
                        "name": "ordersshipments",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Ordersshipments"
                        }
                    }
                ]
            },
            "get": {
                "responses": {
                    "200": {
                        "description": "Success processing your request.",
                        "schema": {
                            "$ref": "#/definitions/GetOrdersTrackingUpdatingResponse"
                        }
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated. Check your request header, `authorization` field is required."
                    },
                    "403": {
                        "description": "Server refused to process your request. Please check the API SLA and reduce number of requests per second."
                    },
                    "404": {
                        "description": "Object not found."
                    },
                    "405": {
                        "description": "Invalid method."
                    }
                },
                "description": "Operação utilizada para consultar o status de uma lista de produtos enviados. É possível refinar a consulta utilizando alguns parâmetros não obrigatórios como: STATUS e DATA DE CADASTRO DO PRODUTO.",
                "tags": [
                    "orders"
                ],
                "summary": "Operação utilizada para consultar o status dos produtos enviados",
                "operationId": "getOrdersshipmentsent",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. That's all you need to authorize. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "query",
                        "description": "Data de envio do produto. Esse campo aceita um range de datas separados por vírgula, e os formatos aceitos para o campo são os seguintes: purchasedAt={data inicial},{data final} purchasedAt={data inicial},* purchasedAt=*,{data final} onde, o * é obrigatório e indica a que todas as datas antes ou depois da outra data passada devem ser consideradas.",
                        "name": "createdAt",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "description": "Status do produto importado.",
                        "name": "status",
                        "required": false,
                        "type": "string",
                        "enum": [
                            "AVAILABLE",
                            "CANCELED",
                            "ERROR",
                            "PENDING"
                        ]
                    },
                    {
                        "in": "query",
                        "description": "Number or items to skip when executing query. List starts at zero. Use this conjuction with `limit` to paginate across the results.",
                        "name": "offset",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "description": "Number or items to skip when executing query. List starts at zero. Use this conjuction with `limit` to paginate across the results.",
                        "name": "limit",
                        "required": true,
                        "type": "integer"
                    }
                ]
            }
        },
        "/orders/status/approved": {
            "get": {
                "responses": {
                    "200": {
                        "description": "Success processing your request.",
                        "schema": {
                            "$ref": "#/definitions/GetOrdersResponse"
                        }
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated. Check your request header, `authorization` field is required."
                    },
                    "403": {
                        "description": "Server refused to process your request. Please check the API SLA and reduce number of requests per second."
                    },
                    "404": {
                        "description": "Object not found."
                    },
                    "405": {
                        "description": "Invalid method."
                    }
                },
                "description": "Recupera uma lista de pedidos com status Aprovado que estão relacionados com o token do lojista informado. Este serviço irá retornar um ou mais pedidos que já possua pagamento aprovado, ou seja, são pedidos que podem ter o processo de entrega iniciado de imediato.Obs.: Os emails transacionais que reportam o status do pedido para os clientes devem ser desabibilitados. Esse tipo de email já é enviado pelo Marketplace.",
                "tags": [
                    "orders"
                ],
                "summary": "Recupera uma lista de pedidos Aprovados",
                "operationId": "getOrdersByStatusApproved",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. That's all you need to authorize. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "query",
                        "description": "Data de aprovação. Esse campo aceita um range de datas separados por vírgula, e os formatos aceitos para o campo são os seguintes: approvedAt={data inicial},{data final} approvedAt={data inicial},* approvedAt=*,{data final} onde, o * é obrigatório e indica a que todas as datas antes ou depois da outra data passada devem ser consideradas.",
                        "name": "approvedAt",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "description": "Nome do Cliente.",
                        "name": "customer.name",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "description": "Documento do Cliente.",
                        "name": "customer.documentNumber",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "description": "Number or items to skip when executing query. List starts at zero. Use this conjuction with `limit` to paginate across the results.",
                        "name": "offset",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "description": "Number or items to return when executing query. Defaults to 100, max 200. Use this in conjuction with `offset` to paginate across the results.",
                        "name": "limit",
                        "required": true,
                        "type": "integer"
                    }
                ]
            }
        },
        "/orders/status/canceled": {
            "get": {
                "responses": {
                    "200": {
                        "description": "Success processing your request.",
                        "schema": {
                            "$ref": "#/definitions/GetOrdersResponse"
                        }
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated. Check your request header, `authorization` field is required."
                    },
                    "403": {
                        "description": "Server refused to process your request. Please check the API SLA and reduce number of requests per second."
                    },
                    "404": {
                        "description": "Object not found."
                    },
                    "405": {
                        "description": "Invalid method."
                    }
                },
                "description": "Returns a list with canceled orders. Canceled orders should not be fullfiled.",
                "tags": [
                    "orders"
                ],
                "summary": "Returns lists of canceled orders",
                "operationId": "getOrdersByStatusCanceled",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. That's all you need to authorize. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "query",
                        "description": "Number or items to skip when executing query. List starts at zero. Use this conjuction with `limit` to paginate across the results.",
                        "name": "offset",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "description": "Number or items to return when executing query. Default 100, max 300. Use this conjuction with `offset` to paginate across the results.",
                        "name": "limit",
                        "required": true,
                        "type": "integer"
                    }
                ]
            }
        },
        "/orders/status/delivered": {
            "get": {
                "responses": {
                    "200": {
                        "description": "Success processing your request.",
                        "schema": {
                            "$ref": "#/definitions/GetOrdersResponse"
                        }
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated. Check your request header, `authorization` field is required."
                    },
                    "403": {
                        "description": "Server refused to process your request. Please check the API SLA and reduce number of requests per second."
                    },
                    "404": {
                        "description": "Object not found."
                    },
                    "405": {
                        "description": "Invalid method."
                    }
                },
                "description": "Returns a list of orders sucessfully delivered associated with this seller.",
                "tags": [
                    "orders"
                ],
                "summary": "Returns a list of orders sucessfully delivered associated with this seller.",
                "operationId": "getOrdersByStatusDelivered",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. That's all you need to authorize. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "query",
                        "description": "Number or items to skip when executing query. List starts at zero. Use this conjuction with `limit` to paginate across the results.",
                        "name": "offset",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "description": "Number or items to skip when executing query. List starts at zero. Use this conjuction with `limit` to paginate across the results.",
                        "name": "limit",
                        "required": true,
                        "type": "integer"
                    }
                ]
            }
        },
        "/orders/status/new": {
            "get": {
                "responses": {
                    "200": {
                        "description": "Success processing your request.",
                        "schema": {
                            "$ref": "#/definitions/GetOrdersStatusNewResponse"
                        }
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated. Check your request header, `authorization` field is required."
                    },
                    "403": {
                        "description": "Server refused to process your request. Please check the API SLA and reduce number of requests per second."
                    },
                    "404": {
                        "description": "Object not found."
                    },
                    "405": {
                        "description": "Invalid method."
                    }
                },
                "description": "Returns a list of orders flagged as new. New orders should not be fullfiled until marketplace flags as ready for shipment.",
                "tags": [
                    "orders"
                ],
                "summary": "Returns a list of orders flagged as new.",
                "operationId": "getOrdersByStatusNew",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. That's all you need to authorize. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "query",
                        "description": "Number or items to skip when executing query. List starts at zero. Use this conjuction with `limit` to paginate across the results.",
                        "name": "offset",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "description": "Number or items to skip when executing query. List starts at zero. Use this conjuction with `limit` to paginate across the results.",
                        "name": "limit",
                        "required": true,
                        "type": "integer"
                    }
                ]
            }
        },
        "/orders/status/partiallyDelivered": {
            "get": {
                "responses": {
                    "200": {
                        "description": "Success processing your request.",
                        "schema": {
                            "$ref": "#/definitions/GetOrdersResponse"
                        }
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated. Check your request header, `authorization` field is required."
                    },
                    "403": {
                        "description": "Server refused to process your request. Please check the API SLA and reduce number of requests per second."
                    },
                    "404": {
                        "description": "Object not found."
                    },
                    "405": {
                        "description": "Invalid method."
                    }
                },
                "description": "Returns a list of partially deliverd orders",
                "tags": [
                    "orders"
                ],
                "summary": "Returns a list of partially deliverd orders",
                "operationId": "getOrdersByStatusPartiallyDelivered",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. That's all you need to authorize. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "query",
                        "description": "Number or items to skip when executing query. List starts at zero. Use this conjuction with `limit` to paginate across the results.",
                        "name": "offset",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "description": "Number or items to skip when executing query. List starts at zero. Use this conjuction with `limit` to paginate across the results.",
                        "name": "limit",
                        "required": true,
                        "type": "integer"
                    }
                ]
            }
        },
        "/orders/status/partiallySent": {
            "get": {
                "responses": {
                    "200": {
                        "description": "Success processing your request.",
                        "schema": {
                            "$ref": "#/definitions/GetOrdersResponse"
                        }
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated. Check your request header, `authorization` field is required."
                    },
                    "403": {
                        "description": "Server refused to process your request. Please check the API SLA and reduce number of requests per second."
                    },
                    "404": {
                        "description": "Object not found."
                    },
                    "405": {
                        "description": "Invalid method."
                    }
                },
                "description": "Retorna uma lista de pedidos Parcialmente Enviados que estão relacionados com o token do lojista informado. Ocorre quando um ou mais itens foram enviados, porém ainda existem itens que não foram enviados. Os pedidos ficam nesse estado apenas quando ocorreu quebra de entrega e alguns produtos da lista completa já foram sinalizados como Enviados pelo serviço",
                "tags": [
                    "orders"
                ],
                "summary": "Retorna uma lista de pedidos Parcialmente Enviados",
                "operationId": "getOrdersByStatusPartiallySent",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. That's all you need to authorize. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "query",
                        "description": "Data de envio. Esse campo aceita um range de datas separados por vírgula, e os formatos aceitos para o campo são os seguintes: sentAt={data inicial},{data final} sentAt={data inicial},* sentAt=*,{data final} onde, o * é obrigatório e indica a que todas as datas antes ou depois da outra data passada devem ser consideradas.",
                        "name": "sentAt",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "description": "Nome do Cliente.",
                        "name": "customer.name",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "description": "Documento do Cliente.",
                        "name": "customer.documentNumber",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "description": "Parâmetro utilizado para indicar a posição inicial da consulta. O registro inicial tem índice zero (0), ou seja, para trazer os 10 primeiros registros, informa 0 para offset e 10 para limit.",
                        "name": "offset",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "description": "Number or items to skip when executing query. List starts at zero. Use this conjuction with `limit` to paginate across the results.",
                        "name": "limit",
                        "required": true,
                        "type": "integer"
                    }
                ]
            }
        },
        "/orders/status/sent": {
            "get": {
                "responses": {
                    "200": {
                        "description": "Success processing your request.",
                        "schema": {
                            "$ref": "#/definitions/GetOrdersResponse"
                        }
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated. Check your request header, `authorization` field is required."
                    },
                    "403": {
                        "description": "Server refused to process your request. Please check the API SLA and reduce number of requests per second."
                    },
                    "404": {
                        "description": "Object not found."
                    },
                    "405": {
                        "description": "Invalid method."
                    }
                },
                "description": "Recupera uma lista de pedidos com status Enviado, que estão relacionados com o token do lojista informado. Este estado representa os pedidos cujos itens foram todos entregues.Obs.: Os emails transacionais que reportam o status do pedido para os clientes devem ser desabibilitados. Esse tipo de email já é enviado pelo Marketplace.",
                "tags": [
                    "orders"
                ],
                "summary": "Recupera uma lista de pedidos Enviados",
                "operationId": "getOrdersByStatusSent",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. That's all you need to authorize. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "query",
                        "description": "Data de envio. Esse campo aceita um range de datas separados por vírgula, e os formatos aceitos para o campo são os seguintes: sentAt={data inicial},{data final} sentAt={data inicial},* sentAt=*,{data final} onde, o * é obrigatório e indica a que todas as datas antes ou depois da outra data passada devem ser consideradas",
                        "name": "sentAt",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "description": "Parâmetro utilizado para indicar a posição inicial da consulta. O registro inicial tem índice zero (0), ou seja, para trazer os 10 primeiros registros, informa 0 para offset e 10 para limit.",
                        "name": "offset",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "description": "Parâmetro utilizado para indicar a quantidade de registros que deve ser trazido na consulta",
                        "name": "limit",
                        "required": true,
                        "type": "integer"
                    }
                ]
            }
        },
        "/order/{orderId}": {
            "get": {
                "responses": {
                    "200": {
                        "description": "Success processing your request.",
                        "schema": {
                            "$ref": "#/definitions/Order"
                        }
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated. Check your request header, `authorization` field is required."
                    },
                    "403": {
                        "description": "Server refused to process your request. Please check the API SLA and reduce number of requests per second."
                    },
                    "404": {
                        "description": "Object not found."
                    },
                    "405": {
                        "description": "Invalid method."
                    }
                },
                "description": "Recupera detalhes do pedido informado.Observação: Os campos retornados dependem do status do pedido, por exemplo, no status new, as informações de entrega são suprimidas para evitar a entrega antes da confirmação do pagamento. Nesta documentação estão presentes todos os campos de Pedido. Para saber quais campos são retornados para cada status do pedido, basta consultar a documentação de cada um dos métodos de consulta de pedidos por status. Deve ser informado um pedido válido.Abaixo seguem os valores possíveis para o tipo de pagamento (paymentType)<table class='table'><tr><th>Código</th><th>Descrição</th></tr><tr><td>1</td><td>Cartão de Crédito</td></tr><tr><td>2</td><td>Boleto</td></tr><tr><td>4</td><td>Cupom</td></tr><tr><td>5</td><td>Transferência</td></tr></table>Segue abaixo a lista de Status existentes para pedidos. Os status representam a situação consolidada do pedido: <table class = 'table'><tr><th>Código</th><th>Descrição</th></tr><tr><td>NEW</td><td>Novo</td></tr><tr><td>GDE</td><td>Entregas geradas</td></tr><tr><td>PEN</td><td>Pagamento pendente</td></tr><tr><td>PAY</td><td>Pagamento aprovado</td></tr><tr><td>SHP</td><td>Enviado</td></tr><tr><td>DLV</td><td>Entregue</td></tr></table>Segue abaixo a lista de Control Points existentes. Os Control Points estão presentes em cada operação de tracking e representam o status de cada operação realizada no pedido: <table class = 'table'><tr><th>Código</th><th>Sequência / ordem</th><th>Descrição</th></tr><tr><td>AAP</td><td>1</td><td>Aguardando a confirmação do pagamento</td></tr><tr><td>ACR</td><td>2</td><td>Análise de dados</td></tr><tr><td>ADT</td><td>3</td><td>Data de entrega ajustada</td></tr><tr><td>AEG</td><td>4</td><td>Aguardando entregas pagamento</td></tr><tr><td>AES</td><td>5</td><td>Disponibilidade de estoque</td></tr><tr><td>AGR</td><td>6</td><td>Dificuldade na entrega</td></tr><tr><td>AMC</td><td>7</td><td>Análise de dados</td></tr><tr><td>AR1</td><td>8</td><td>Aviso de Entrega 1</td></tr><tr><td>AR2</td><td>9</td><td>Aviso de Entrega 2</td></tr><tr><td>ARE</td><td>10</td><td>Aguardando Retirada</td></tr><tr><td>ARL</td><td>11</td><td>Disponível para Entrega</td></tr><tr><td>ATR</td><td>12</td><td>Dificuldade na entrega</td></tr><tr><td>AU1</td><td>13</td><td>Dificuldade na entrega</td></tr><tr><td>AU2</td><td>14</td><td>Dificuldade na entrega</td></tr><tr><td>AU3</td><td>15</td><td>Dificuldade na entrega</td></tr><tr><td>AVA</td><td>16</td><td>Dificuldade na entrega</td></tr><tr><td>CAN</td><td>17</td><td>Entrega Cancelada</td></tr><tr><td>CAP</td><td>18</td><td>Análise de dados concluída</td></tr><tr><td>DAE</td><td>19</td><td>Data de Entrega Ajustada</td></tr><tr><td>DIV</td><td>20</td><td>Dificuldade na entrega</td></tr><tr><td>DNE</td><td>21</td><td>Dificuldade na entrega</td></tr><tr><td>EA1</td><td>22</td><td>Destinatário Ausente - 1ª tentativa</td></tr><tr><td>EAR</td><td>23</td><td>Entrega em andamento</td></tr><tr><td>END</td><td>24</td><td>Dificuldade na entrega</td></tr><tr><td>ENL</td><td>25</td><td>Endereço não localizado</td></tr><tr><td>ENT</td><td>26</td><td>Entrega concluída</td></tr><tr><td>EPR</td><td>27</td><td>Entrega em andamento</td></tr><tr><td>ETR</td><td>28</td><td>Entrega em andamento</td></tr><tr><td>EXT</td><td>29</td><td>Dificuldade na entrega</td></tr><tr><td>FEL</td><td>30</td><td>Entrega em andamento</td></tr><tr><td>FIS</td><td>31</td><td>Dificuldade na entrega</td></tr><tr><td>IED</td><td>32</td><td>Dificuldade na entrega</td></tr><tr><td>INS</td><td>33</td><td>Produto instalado</td></tr><tr><td>LIF</td><td>34</td><td>Entrega em andamento</td></tr><tr><td>MDS</td><td>35</td><td>Dificuldade na entrega</td></tr><tr><td>MPA</td><td>36</td><td>Aguardando a confirmação do pagamento</td></tr><tr><td>NFS</td><td>37</td><td>Nota Fiscal emitida</td></tr><tr><td>OCO</td><td>38</td><td>Entrega concluída</td></tr><tr><td>PAP</td><td>39</td><td>Pagamento aprovado</td></tr><tr><td>PEI</td><td>40</td><td>Pedido incluso</td></tr><tr><td>PNA</td><td>41</td><td>Pagamento não aprovado</td></tr><tr><td>PRE</td><td>42</td><td>Pedido recusado pelo Cliente</td></tr><tr><td>REC</td><td>43</td><td>Análise de dados não confirmada</td></tr><tr><td>RED</td><td>44</td><td>Entrega em andamento</td></tr><tr><td>REO</td><td>45</td><td>Dificuldade na entrega</td></tr><tr><td>REV</td><td>46</td><td>Pagamento não aprovado</td></tr><tr><td>RIE</td><td>47</td><td>Impossibilidade de entrega do produto</td></tr><tr><td>ROT</td><td>48</td><td>Entrega em andamento</td></tr><tr><td>ROU</td><td>49</td><td>Dificuldade na entrega</td></tr><tr><td>RTD</td><td>50</td><td>Em rota de devolução</td></tr><tr><td>VES</td><td>51</td><td>Disponibilidade de estoque</td></tr><tr><td>WMS</td><td>52</td><td>Separação e embalagem</td></tr></table>",
                "tags": [
                    "orders"
                ],
                "summary": "Recupera detalhes do pedido informado",
                "operationId": "getOrderById",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. That's all you need to authorize. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "path",
                        "description": "ID do pedido.",
                        "name": "orderId",
                        "required": true,
                        "type": "string"
                    }
                ]
            }
        },
        "/order/{orderId}/items/{skuSellerId}": {
            "get": {
                "responses": {
                    "200": {
                        "description": "Success processing your request.",
                        "schema": {
                            "$ref": "#/definitions/OrderItem"
                        }
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated. Check your request header, `authorization` field is required."
                    },
                    "403": {
                        "description": "Server refused to process your request. Please check the API SLA and reduce number of requests per second."
                    },
                    "404": {
                        "description": "Object not found."
                    },
                    "405": {
                        "description": "Invalid method."
                    }
                },
                "description": "Recupera detalhes de um item específico do pedido. Deve ser informado um pedido e um item do pedido válidos.",
                "tags": [
                    "orders"
                ],
                "summary": "Recupera detalhes de um item específico do pedido",
                "operationId": "getOrderByIdAndSkuSllerId",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. That's all you need to authorize. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "path",
                        "description": "ID do pedido.",
                        "name": "orderId",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "description": "SKU Seller ID do item de pedido.",
                        "name": "skuSellerId",
                        "required": true,
                        "type": "string"
                    }
                ]
            }
        },
        "/order/{orderId}/shipments/cancel": {
            "post": {
                "responses": {
                    "200": {
                        "description": "Sucess."
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated. Check your request header, `authorization` field is required."
                    },
                    "405": {
                        "description": "Invalid method."
                    },
                    "415": {
                        "description": "Invalid content-type. JSON is required."
                    }
                },
                "description": "Operação utilizada para confirmar o cancelamento de um item de pedido que foi aberto pelo cliente (via protocolo) ou cancelamento acionado pelo lojista. Quebra de envio No caso de quebra de envio, passe apenas os itens e a quantidade que serão enviados. O controle de quais itens foram enviados deverá ser realizado pela sua Aplicação.  Para notificar o envio de todos os produtos, passe a lista contendo todos os itens e quantidade total.",
                "tags": [
                    "orders"
                ],
                "summary": "Operação para confirmar o cancelamento de um item de pedido",
                "operationId": "postOrderTrackingCancelation",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. That's all you need to authorize. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/NewTrackingRefund"
                        }
                    },
                    {
                        "in": "path",
                        "description": "ID do pedido.",
                        "name": "orderId",
                        "required": true,
                        "type": "string"
                    }
                ]
            }
        },
        "/order/{orderId}/shipments/delivered": {
            "post": {
                "responses": {
                    "200": {
                        "description": "Sucessfully received transaction"
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated. Check your request header, `authorization` field is required."
                    },
                    "405": {
                        "description": "Invalid method."
                    },
                    "415": {
                        "description": "Invalid content-type. JSON is required."
                    }
                },
                "description": "Registra uma nova operação de tracking de Entrega para os itens do pedido. Quebra de envio No caso de quebra de envio, passe apenas os itens e a quantidade que foram entregues. O controle de quais itens foram enviados deverá ser realizado pela sua Aplicação.  Para notificar a entrega de todos os produtos, passe a lista contendo todos os itens e quantidade total.  Clique <a href='../tutoriais/exemplo_tracking_delivered_v2.json'  >aqui</a> para obter um exemplo de conteúdo JSON suportado por esse serviço.Retorno do Serviço.",
                "tags": [
                    "orders"
                ],
                "summary": "Registra uma nova operação de tracking de entrega",
                "operationId": "postOrderTrackingDelivered",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. That's all you need to authorize. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Newshipmentstatus"
                        }
                    },
                    {
                        "in": "path",
                        "description": "ID do pedido.",
                        "name": "orderId",
                        "required": true,
                        "type": "string"
                    }
                ]
            }
        },
        "/order/{orderId}/shipments/exchange": {
            "post": {
                "responses": {
                    "200": {
                        "description": "Sucessfully received transaction"
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated. Check your request header, `authorization` field is required."
                    },
                    "405": {
                        "description": "Invalid method."
                    },
                    "415": {
                        "description": "Invalid content-type. JSON is required."
                    }
                },
                "description": "Operação utilizada para confirmar a troca de um item de pedido aberto pelo cliente (via protocolo). Quebra de envio No caso de quebra de envio, passe apenas os itens e a quantidade que serão enviados. O controle de quais itens foram enviados deverá ser realizado pela sua Aplicação.  Para notificar o envio de todos os produtos, passe a lista contendo todos os itens e quantidade total.  Clique <a href='/api-portal/sites/default/files/support/exemplo_tracking_sent_v2.json'  >aqui</a> para obter um exemplo de conteúdo JSON suportado por esse serviço.Retorno do Serviço.",
                "tags": [
                    "orders"
                ],
                "summary": "Operação para confirmar a troca de um item de um pedido",
                "operationId": "postOrderTrackingExchange",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. That's all you need to authorize. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/NewTrackingRefund"
                        }
                    },
                    {
                        "in": "path",
                        "description": "ID do pedido.",
                        "name": "orderId",
                        "required": true,
                        "type": "string"
                    }
                ]
            }
        },
        "/order/{orderId}/shipments/return": {
            "post": {
                "responses": {
                    "200": {
                        "description": "Sucessfully received transaction"
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated. Check your request header, `authorization` field is required."
                    },
                    "405": {
                        "description": "Invalid method."
                    },
                    "415": {
                        "description": "Invalid content-type. JSON is required."
                    }
                },
                "description": "Operação utilizada para confirmação de devolução (reembolso) de item do pedido através de protocolo aberto pelo cliente. Quebra de envio No caso de quebra de envio, passe apenas os itens e a quantidade que serão enviados. O controle de quais itens foram enviados deverá ser realizado pela sua Aplicação.  Para notificar o envio de todos os produtos, passe a lista contendo todos os itens e quantidade total.  Clique <a href='/api-portal/sites/default/files/support/exemplo_tracking_sent_v2.json'  >aqui</a> para obter um exemplo de conteúdo JSON suportado por esse serviço.Retorno do Serviço",
                "tags": [
                    "orders"
                ],
                "summary": "Operação para confirmar devolução (reembolso) de item do pedido",
                "operationId": "postOrderTrackingReturn",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. That's all you need to authorize. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/NewTrackingRefund"
                        }
                    },
                    {
                        "in": "path",
                        "description": "ID do pedido.",
                        "name": "orderId",
                        "required": true,
                        "type": "string"
                    }
                ]
            }
        },
        "/order/{orderId}/shipments/sent": {
            "post": {
                "responses": {
                    "200": {
                        "description": "Sucessfully received transaction"
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated. Check your request header, `authorization` field is required."
                    },
                    "405": {
                        "description": "Invalid method."
                    },
                    "415": {
                        "description": "Invalid content-type. JSON is required."
                    }
                },
                "description": "Registra uma nova operação de tracking de Envio para os itens do pedido. Quebra de envio No caso de quebra de envio, passe apenas os itens e a quantidade que serão enviados. O controle de quais itens foram enviados deverá ser realizado pela sua Aplicação.  Para notificar o envio de todos os produtos, passe a lista contendo todos os itens e quantidade total.  Clique <a href='/api-portal/sites/default/files/support/exemplo_tracking_sent_v2.json'  >aqui</a> para obter um exemplo de conteúdo JSON suportado por esse serviço.Retorno do Serviço.",
                "tags": [
                    "orders"
                ],
                "summary": "Registra uma nova operação de tracking de envio",
                "operationId": "postOrdershipmentsent",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. That's all you need to authorize. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Newshipmentstatus"
                        }
                    },
                    {
                        "in": "path",
                        "description": "ID do pedido.",
                        "name": "orderId",
                        "required": true,
                        "type": "string"
                    }
                ]
            }
        },
        "/tickets": {
            "get": {
                "responses": {
                    "200": {
                        "description": "Success processing your request.",
                        "schema": {
                            "$ref": "#/definitions/Tickets"
                        }
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "404": {
                        "description": "Object not found."
                    },
                    "405": {
                        "description": "Invalid method."
                    }
                },
                "description": "Allows seller to receive and status, queries, requests and complaints from customers.",
                "tags": [
                    "tickets"
                ],
                "summary": "Get customer trouble tickets",
                "operationId": "getTickets",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. That's all you need to authorize. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "query",
[...]
