{
    "swagger": "2.0",
    "info": {
        "title": "BrandLovers Marketplace API V2",
        "description": "Allows sellers to: 1) Load products definitions to the BrandLovers marktplace. 2) Receive and update orders status. 3) Receive and update shipping information. 4) Receive and update customer tickets. All requests consume and return application/json content. All request must be authenticated and use HTTPS.",
        "version": "1.0.0"
    },
    "host": "api.brandlovers.com",
    "schemes": [
        "https"
    ],
    "basePath": "/marketplace/v2",
    "produces": [
        "application/json"
    ],
    "paths": {
        "/products": {
            "post": {
                "responses": {
                    "200": {
                        "description": "Server received your request and will start background processing."
                    },
                    "400": {
                        "description": "Bad Request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated or token expired. Check your request header the `authorization` field is required."
                    }
                },
                "description": "Use this enpoint to upload new product information to the Marketplace. This enpoint expects a json document with array of products. The server will load each product as an individual item that can be manipulated using your own `skuSellerId`. This system is idenpontent, this means that once a `skuSellerId` is created it cannot be re-created using this tool. In order to update use the PUT method with the correct `skuSellerId`",
                "tags": [
                    "products"
                ],
                "summary": "Allows new products to be loaded into the marketplace",
                "operationId": "postProducts",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "body",
                        "description": "JSON with a list of new products to be updloaded to the platform",
                        "name": "products",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Product"
                            }
                        }
                    }
                ]
            },
            "get": {
                "responses": {
                    "200": {
                        "description": "Successful request.",
                        "schema": {
                            "$ref": "#/definitions/GetProductsResponse"
                        }
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated or token expired. Check your request header the `authorization` field is required."
                    },
                    "403": {
                          "description": "Server refused to process your request. Please check the API SLA and reduce number of requests per second."
                    }
                },
                "description": "Get a list of my products loaded sucessfully loaded into the Marketplace. This dosen't means that products are eligible for sale, just that they are loaded in the database.",
                "tags": [
                    "products"
                ],
                "summary": "Returns a list of products loaded into BrandLovers Marketplace",
                "operationId": "getProducts",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "security": [
                  {
                    "authorization": []
                  }
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "query",
                        "description": "Number or items to skip when executing query. List starts at zero. If omitted will default to zero. Use this conjuction with `limit` to paginate across the results.",
                        "name": "offset",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "description": "Number of items to retun. Defaults to 100. Max alowed is 200. Use this conjuction with `offset` to paginate across the results.",
                        "name": "limit",
                        "required": false,
                        "type": "integer"
                    }
                ]
            }
        },
        "/product/{skuSellerId}": {
            "get": {
                "responses": {
                    "200": {
                        "description": "Sucess fetching the object",
                        "schema": {
                            "$ref": "#/definitions/GetProduct"
                        }
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated or token expired. Check your request header the `authorization` field is required."
                    },
                    "403": {
                        "description": "Server refused to process your request. Please check the API SLA and reduce number of requests per second."
                    },
                    "404": {
                        "description": "Object not found. In general this means a invalid skuSellerId."
                    }
                },
                "description": "Returns all information of a single product using the seller `skuSellerId`. This service will return a json document with product detail, status, price and invetory in the Brand Lovers marketplace",
                "tags": [
                    "product"
                ],
                "summary": "Returns details of a single product using the seller `skuSellerId`",
                "operationId": "getProduct",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "security": [
                  {
                    "authorization": []
                  }
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "path",
                        "description": "SKU ID do Lojista.",
                        "name": "skuSellerId",
                        "required": true,
                        "type": "string"
                    }
                ]
            },
            "put": {
                "responses": {
                    "200": {
                        "description": "Sucess!"
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated or token expired. Check your request header the `authorization` field is required."
                    },
                    "403": {
                        "description": "Server refused to process your request. Please check the API SLA and reduce number of requests per second."
                    },
                    "404": {
                        "description": "Object not found."
                    }
                },
                "description": "Update a single product information such as name, brand, attribute, dimension, etc. Please note that data from your request will be merged with existing data. This allows you to update only certain fields without the need to re-inform unchanged fields. `skuSellerId` field is mandatory.",
                "tags": [
                    "products"
                ],
                "summary": "Update product details",
                "operationId": "putProduct",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "security": [
                  {
                    "authorization": []
                  }
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "path",
                        "description": "Unique Product Id (SKU) in the seller system that will be updated.",
                        "name": "skuSellerId",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "description": "New product information.",
                        "name": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ProductUpdate"
                        }
                    }
                ]
            }
        },
        "/product": {
          "post": {
              "responses": {
                  "200": {
                      "description": "Server received your request and will start background processing."
                  },
                  "400": {
                      "description": "Bad Request."
                  },
                  "401": {
                      "description": "Access denied. You're not authenticated or token expired. Check your request header the `authorization` field is required."
                  }
              },
              "description": "Use this enpoint to upload a single new product to the Marketplace. This enpoint expects a json document with one product. If you whant to upload multiple products in a single API call use POST /products method. The server will load each product as an individual item that can be manipulated using your own `skuSellerId`. This system is idenpontent, this means that once a `skuSellerId` is created it cannot be re-created using this tool. In order to update, edit a product use the PUT method with the correct referencing your `skuSellerId`",
              "tags": [
                  "products"
              ],
              "summary": "Upload a new product to the marketplace",
              "operationId": "postProduct",
              "produces": [
                  "application/json"
              ],
              "consumes": [
                  "application/json"
              ],
              "parameters": [
                  {
                      "in": "header",
                      "description": "Authorization token. The Authorization token can be found in your Admin console.",
                      "name": "authorization",
                      "type": "string",
                      "required": true
                  },
                  {
                      "in": "body",
                      "description": "JSON with the new product to be updloaded to the platform",
                      "name": "products",
                      "required": true,
                      "schema": {
                          "type": "array",
                          "items": {
                              "$ref": "#/definitions/Product"
                          }
                      }
                  }
              ]
          }
        },
        "/products/status": {
            "get": {
                "responses": {
                    "200": {
                        "description": "Success fetching results.",
                        "schema": {
                            "$ref": "#/definitions/GetSellerProductsStatus"
                        }
                    },
                    "400": {
                        "description": "Bad request."
                    }
                },
                "description": "Returns a list with seller products status and brief product information. Please note that this endpoint will not return all details of each product, just the status, skuSellerId and name. Also please note that this endpoint will return maximum 1000 products per call. For full details of a given procuct use GET /product/{skuSellerId}",
                "tags": [
                    "products"
                ],
                "summary": "Returns seller products status in the marketplace",
                "operationId": "getSellerItemsStatus",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "query",
                        "description": "Number or items to skip when executing query. List starts at zero. If omitted will default to zero. Use this conjuction with `limit` to paginate across the results.",
                        "name": "offset",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "description": "Number of items to return in this query. Defaults to 100. Maximum 200. Use this conjuction with `offset` to paginate across the results.",
                        "name": "limit",
                        "required": false,
                        "type": "integer"
                    }
                ]
            },
            "put": {
                "responses": {
                    "200": {
                        "description": "Success processing your request."
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated or token expired. Check your request header the `authorization` field is required."
                    }
                },
                "description": "Bulk enable/disable products in the marketplace.",
                "tags": [
                    "products"
                ],
                "summary": "Bulk enable/disable products in the marketplace",
                "operationId": "putSellerItemsStatus",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "body",
                        "description": "List of seller products with new status information",
                        "name": "body",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/SellerItemStatusUpdate"
                            }
                        }
                    }
                ]
            }
        },
        "/products/prices": {
            "get": {
                "responses": {
                    "200": {
                        "description": "Success processing your request.",
                        "schema": {
                            "$ref": "#/definitions/GetSellerProductsPrices"
                        }
                    },
                    "400": {
                        "description": "Bad request."
                    }
                },
                "description": "Returns list of products and respective prices",
                "tags": [
                    "products"
                ],
                "summary": "Returns a list of products and prices",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "query",
                        "description": "Number or items to skip when executing query. List starts at zero. If omitted will default to zero. Use this conjuction with `limit` to paginate across the results.",
                        "name": "offset",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "description": "Number or items to return when executing query. Defaults to 10. Use this conjuction with `offset` to paginate across the results.",
                        "name": "limit",
                        "required": false,
                        "type": "integer"
                    }
                ]
            },
            "put": {
                "responses": {
                    "200": {
                        "description": "Sucess!"
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated or token expired. Check your request header the `authorization` field is required."
                    }
                },
                "description": "Allows bulk update of product prices. This endpoint expects a json document with an array of products with the seller ID and the new price. Server will process each new product update individually and will ackwlodge as much updates as possible, even if a single product update fails. After this request you can query product final status with GET /product/status",
                "tags": [
                    "products"
                ],
                "summary": "Allows bulk update of product prices.",
                "operationId": "putSellerItemsPrices",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "body",
                        "description": "Data for bulk product price update",
                        "name": "body",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/SellerItemPrices"
                            }
                        }
                    }
                ]
            }
        },
        "/products/stocks": {
            "get": {
                "responses": {
                    "200": {
                        "description": "Success.",
                        "schema": {
                            "$ref": "#/definitions/GetSellerItemsStocksUpdatingResponse"
                        }
                    },
                    "400": {
                        "description": "Bad request."
                    }
                },
                "description": "Retuns bulk data with seller products inventory. For extensive details for a single product use GET /product/{skuSellerId}",
                "tags": [
                    "products"
                ],
                "summary": "Get bulk details about products inventory",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "query",
                        "description": "Number or items to skip when executing query. List starts at zero. If omitted will default to zero. Use this conjuction with `limit` to paginate across the results.",
                        "name": "offset",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "description": "Number or items to return when executing query. Use this conjuction with `offset` to paginate across the results.",
                        "default": 10,
                        "name": "limit",
                        "required": false,
                        "type": "integer"
                    }
                ]
            },
            "put": {
                "responses": {
                    "200": {
                        "description": "Sucess!"
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated or token expired. Check your request header the `authorization` field is required."
                    }
                },
                "description": "Bulk product stock update. This endpoint expect a array with product `skuSellerId` with new inventory data",
                "tags": [
                    "products"
                ],
                "summary": "Bulk product stock update",
                "operationId": "putSellerItemsStocks",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "body",
                        "description": "Array of product SKUs.",
                        "name": "body",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/SellerItemStocks"
                            }
                        }
                    }
                ]
            }
        },
        "/product/{skuSellerId}/status": {
            "put": {
                "responses": {
                    "200": {
                        "description": "Sucess!"
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated or token expired. Check your request header the `authorization` field is required."
                    }
                },
                "description": "Update product status in the Marketplace. Set to `true` to enable, `false` to disable sale.",
                "tags": [
                    "product"
                ],
                "summary": "Enable/disable a single product in the Marketplace",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "path",
                        "description": "Unique Product Id (SKU) in the seller system",
                        "name": "skuSellerId",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "description": "Seller SKU that will be enabled or disabled",
                        "name": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/SellerItemStatus"
                        }
                    }
                ]
            }
        },
        "/product/{skuSellerId}/stock": {
            "put": {
                "responses": {
                    "200": {
                        "description": "Sucess!"
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated or token expired. Check your request header the `authorization` field is required."
                    }
                },
                "description": "Update a single product inventory information. Products with zero stock will not be eligible for sale.",
                "tags": [
                    "product"
                ],
                "summary": "Update a single prouduc stock",
                "operationId": "putSellerItemStock",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "path",
                        "description": "Unique Product Id (SKU) in the seller system that will be updated",
                        "name": "skuSellerId",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "description": "New product inventory information",
                        "name": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Stock"
                        }
                    }
                ]
            }
        },
        "/product/{skuSellerId}/prices": {
            "put": {
                "responses": {
                    "200": {
                        "description": "Sucess!"
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated or token expired. Check your request header the `authorization` field is required."
                    }
                },
                "description": "Allows seller to set the SKU prices (MSRP and/or offer price). All prices must be informed in cents. No commas or periods are accepeted. For example one dollar should be informed as 100. Same as $1,2345.67 must be informed solely as 1234567",
                "tags": [
                    "product"
                ],
                "summary": "Allows seller to update prices of a single SKU",
                "operationId": "putSellerItemPrices",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "path",
                        "description": "Product SKU",
                        "name": "skuSellerId",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "description": "JSON document with the SKU price",
                        "name": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Prices"
                        }
                    }
                ]
            }
        },
        "/products/status/selling": {
            "get": {
                "responses": {
                    "200": {
                        "description": "Success processing your request.",
                        "schema": {
                            "$ref": "#/definitions/GetSellerItemsResponse"
                        }
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated or token expired. Check your request header the `authorization` field is required."
                    },
                    "403": {
                        "description": "Server refused to process your request. Please check the API SLA and reduce number of requests per second."
                    }
                },
                "description": "Returns products that are sucessfully listed for sale.",
                "tags": [
                    "products"
                ],
                "summary": "Returns products that are sucessfully listed for sale.",
                "operationId": "getSellerItemsByStatusActive",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "query",
                        "description": "Number or items to skip when executing query. List starts at zero. If omitted will default to zero. Use this conjuction with `limit` to paginate across the results.",
                        "name": "offset",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "description": "Number or items to return when executing query. Defaults to 10. Use this conjuction with `offset` to paginate across the results.",
                        "name": "limit",
                        "required": false,
                        "type": "integer"
                    }
                ]
            }
        },
        "/orders": {
            "get": {
                "responses": {
                    "200": {
                        "description": "Success processing your request.",
                        "schema": {
                            "$ref": "#/definitions/GetOrdersResponse"
                        }
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated or token expired. Check your request header the `authorization` field is required."
                    },
                    "403": {
                        "description": "Server refused to process your request. Please check the API SLA and reduce number of requests per second."
                    }
                },
                "description": "Retuns a list of orders associated with this seller. The list is ordered by dateCreated.",
                "tags": [
                    "orders"
                ],
                "summary": "Recupera detalhes de todos os pedidos",
                "operationId": "getOrders",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "query",
                        "description": "Number or items to skip when executing query. List starts at zero. If omitted will default to zero. Use this conjuction with `limit` to paginate across the results.",
                        "name": "offset",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "description": "Number or items to return when executing query. Defaults to 10. Use this conjuction with `offset` to paginate across the results.",
                        "name": "limit",
                        "required": false,
                        "type": "integer"
                    }
                ]
            }
        },
        "/orders/shipments/delivered": {
            "post": {
                "responses": {
                    "200": {
                        "description": "Sucess. Server received your request."
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated or token expired. Check your request header the `authorization` field is required."
                    }
                },
                "description": "Bulk update of order shipments status. This alows to inform multiple shipments status",
                "tags": [
                    "orders"
                ],
                "summary": "Bulk update of order shipments",
                "operationId": "postOrdersTrackingDelivered",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "body",
                        "description": "JSON body with list of shipments to be updated.",
                        "name": "ordersshipments",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/OrdersShipments"
                        }
                    }
                ]
            },
            "get": {
                "responses": {
                    "200": {
                        "description": "Sucess!",
                        "schema": {
                            "$ref": "#/definitions/GetOrdersTrackingUpdatingResponse"
                        }
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated or token expired. Check your request header the `authorization` field is required."
                    },
                    "403": {
                        "description": "Server refused to process your request. Please check the API SLA and reduce number of requests per second."
                    }
                },
                "description": "Returns list of shipments. By default this will return list of the last shipments ordered by dateCreated, folowed by last update date.",
                "tags": [
                    "products"
                ],
                "summary": "Returns list of shipments",
                "operationId": "getOrdersTrackingDelivered",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "query",
                        "description": "Query by shippment status.",
                        "name": "status",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "description": "Number or items to skip when executing query. List starts at zero. If omitted will default to zero. Use this conjuction with `limit` to paginate across the results.",
                        "name": "offset",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "description": "Number or items to return when executing query. Defaults to 10. Use this conjuction with `offset` to paginate across the results.",
                        "name": "limit",
                        "required": false,
                        "type": "integer"
                    }
                ]
            }
        },
        "/orders/shipments/shipped": {
            "post": {
                "responses": {
                    "200": {
                        "description": "Sucess transaction."
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated or token expired. Check your request header the `authorization` field is required."
                    }
                },
                "description": "Allows bulk updates of order shippments.",
                "tags": [
                    "orders"
                ],
                "summary": "Bulk update of order shipments",
                "operationId": "postOrdersshipmentsent",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "description": "JSON payload with list of shippments of an order.",
                        "name": "ordersshipments",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/OrdersShipments"
                        }
                    }
                ]
            },
            "get": {
                "responses": {
                    "200": {
                        "description": "Success processing your request.",
                        "schema": {
                            "$ref": "#/definitions/GetOrdersTrackingUpdatingResponse"
                        }
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated or token expired. Check your request header the `authorization` field is required."
                    },
                    "403": {
                        "description": "Server refused to process your request. Please check the API SLA and reduce number of requests per second."
                    },
                    "404": {
                        "description": "Object not found."
                    }
                },
                "description": "Returns a list of shipments shipped. By Default returns items ordered by dateCreated folowed by last update",
                "tags": [
                    "orders"
                ],
                "summary": "Returns a list of shipments shipped",
                "operationId": "getOrdersshipmentsent",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "query",
                        "description": "Product status.",
                        "name": "status",
                        "required": false,
                        "type": "string",
                        "enum": [
                            "NEW",
                            "APPROVED",
                            "DECLINED",
                            "PENDING"
                        ]
                    },
                    {
                        "in": "query",
                        "description": "Number or items to skip when executing query. List starts at zero. If omitted will default to zero. Use this conjuction with `limit` to paginate across the results.",
                        "name": "offset",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "description": "Number or items to return when executing query. Defaults to 10. Use this conjuction with `offset` to paginate across the results.",
                        "name": "limit",
                        "required": false,
                        "type": "integer"
                    }
                ]
            }
        },
        "/orders/status/approved": {
            "get": {
                "responses": {
                    "200": {
                        "description": "Success processing your request.",
                        "schema": {
                            "$ref": "#/definitions/GetOrdersResponse"
                        }
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated or token expired. Check your request header the `authorization` field is required."
                    },
                    "403": {
                        "description": "Server refused to process your request. Please check the API SLA and reduce number of requests per second."
                    },
                    "404": {
                        "description": "Object not found."
                    }
                },
                "description": "Returns a list of approved orders. Orders in the `approved` state must be fullfiled imediadetelly.",
                "tags": [
                    "orders"
                ],
                "summary": "Return list of approved orders",
                "operationId": "getOrdersByStatusApproved",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "query",
                        "description": "Number or items to skip when executing query. List starts at zero. If omitted will default to zero. Use this conjuction with `limit` to paginate across the results.",
                        "name": "offset",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "description": "Number or items to return when executing query. Defaults to 100, max 200. Use this in conjuction with `offset` to paginate across the results.",
                        "name": "limit",
                        "required": false,
                        "type": "integer"
                    }
                ]
            }
        },
        "/orders/status/canceled": {
            "get": {
                "responses": {
                    "200": {
                        "description": "Success processing your request.",
                        "schema": {
                            "$ref": "#/definitions/GetOrdersResponse"
                        }
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated or token expired. Check your request header the `authorization` field is required."
                    },
                    "403": {
                        "description": "Server refused to process your request. Please check the API SLA and reduce number of requests per second."
                    },
                    "404": {
                        "description": "Object not found."
                    }
                },
                "description": "Returns a list with canceled orders. Canceled orders should not be fullfiled.",
                "tags": [
                    "orders"
                ],
                "summary": "Returns lists of canceled orders",
                "operationId": "getOrdersByStatusCanceled",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "query",
                        "description": "Number or items to skip when executing query. List starts at zero. If omitted will default to zero. Use this conjuction with `limit` to paginate across the results.",
                        "name": "offset",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "description": "Number or items to return when executing query. Default 100, max 300. Use this conjuction with `offset` to paginate across the results.",
                        "name": "limit",
                        "required": false,
                        "type": "integer"
                    }
                ]
            }
        },
        "/orders/status/delivered": {
            "get": {
                "responses": {
                    "200": {
                        "description": "Success processing your request.",
                        "schema": {
                            "$ref": "#/definitions/GetOrdersResponse"
                        }
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated or token expired. Check your request header the `authorization` field is required."
                    },
                    "403": {
                        "description": "Server refused to process your request. Please check the API SLA and reduce number of requests per second."
                    },
                    "404": {
                        "description": "Object not found."
                    }
                },
                "description": "Returns a list of orders sucessfully delivered associated with this seller.",
                "tags": [
                    "orders"
                ],
                "summary": "Returns a list of orders sucessfully delivered associated with this seller.",
                "operationId": "getOrdersByStatusDelivered",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "query",
                        "description": "Number or items to skip when executing query. List starts at zero. If omitted will default to zero. Use this conjuction with `limit` to paginate across the results.",
                        "name": "offset",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "description": "Number or items to return when executing query. Defaults to 10. Use this conjuction with `offset` to paginate across the results.",
                        "name": "limit",
                        "required": false,
                        "type": "integer"
                    }
                ]
            }
        },
        "/orders/status/new": {
            "get": {
                "responses": {
                    "200": {
                        "description": "Success processing your request.",
                        "schema": {
                            "$ref": "#/definitions/GetOrdersStatusNewResponse"
                        }
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated or token expired. Check your request header the `authorization` field is required."
                    },
                    "403": {
                        "description": "Server refused to process your request. Please check the API SLA and reduce number of requests per second."
                    },
                    "404": {
                        "description": "Object not found."
                    }
                },
                "description": "Returns a list of orders flagged as new. New orders should not be fullfiled until marketplace flags as ready for shipment.",
                "tags": [
                    "orders"
                ],
                "summary": "Returns a list of orders flagged as new.",
                "operationId": "getOrdersByStatusNew",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "query",
                        "description": "Number or items to skip when executing query. List starts at zero. If omitted will default to zero. Use this conjuction with `limit` to paginate across the results.",
                        "name": "offset",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "description": "Number or items to return when executing query. Defaults to 10. Use this conjuction with `offset` to paginate across the results.",
                        "name": "limit",
                        "required": false,
                        "type": "integer"
                    }
                ]
            }
        },
        "/orders/status/partiallyDelivered": {
            "get": {
                "responses": {
                    "200": {
                        "description": "Success processing your request.",
                        "schema": {
                            "$ref": "#/definitions/GetOrdersResponse"
                        }
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated or token expired. Check your request header the `authorization` field is required."
                    },
                    "403": {
                        "description": "Server refused to process your request. Please check the API SLA and reduce number of requests per second."
                    },
                    "404": {
                        "description": "Object not found."
                    }
                },
                "description": "Returns a list of partially deliverd orders",
                "tags": [
                    "orders"
                ],
                "summary": "Returns a list of partially deliverd orders",
                "operationId": "getOrdersByStatusPartiallyDelivered",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "query",
                        "description": "Number or items to skip when executing query. List starts at zero. If omitted will default to zero. Use this conjuction with `limit` to paginate across the results.",
                        "name": "offset",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "description": "Number or items to return when executing query. Defaults to 10. Use this conjuction with `offset` to paginate across the results.",
                        "name": "limit",
                        "required": false,
                        "type": "integer"
                    }
                ]
            }
        },
        "/orders/status/partiallySent": {
            "get": {
                "responses": {
                    "200": {
                        "description": "Success processing your request.",
                        "schema": {
                            "$ref": "#/definitions/GetOrdersResponse"
                        }
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated or token expired. Check your request header the `authorization` field is required."
                    },
                    "403": {
                        "description": "Server refused to process your request. Please check the API SLA and reduce number of requests per second."
                    },
                    "404": {
                        "description": "Object not found."
                    }
                },
                "description": "Returns a list of orders containing one (or more) items that where not shipped. This will list the entire order as well the items with peding shipment. Use this service to track orders that need to be fullfiled.",
                "tags": [
                    "orders"
                ],
                "summary": "Returns a list of orders partially fullfiled",
                "operationId": "getOrdersByStatusPartiallySent",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "query",
                        "description": "Number or items to skip when executing query. List starts at zero. If omitted will default to zero. Use this conjuction with `limit` to paginate across the results.",
                        "name": "offset",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "description": "Number or items to return when executing query. Defaults to 10. Use this conjuction with `offset` to paginate across the results.",
                        "name": "limit",
                        "required": false,
                        "type": "integer"
                    }
                ]
            }
        },
        "/orders/status/sent": {
            "get": {
                "responses": {
                    "200": {
                        "description": "Success processing your request.",
                        "schema": {
                            "$ref": "#/definitions/GetOrdersResponse"
                        }
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated or token expired. Check your request header the `authorization` field is required."
                    },
                    "403": {
                        "description": "Server refused to process your request. Please check the API SLA and reduce number of requests per second."
                    },
                    "404": {
                        "description": "Object not found."
                    }
                },
                "description": "Returns a list with orders completely fullfiled, this means orders with all items sent. Orders will ordered by dateCreated fowllowed by last update",
                "tags": [
                    "orders"
                ],
                "summary": "Returns a list with orders fully sent",
                "operationId": "getOrdersByStatusSent",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "query",
                        "description": "Number or items to skip when executing query. List starts at zero. If omitted will default to zero. Use this conjuction with `limit` to paginate across the results.",
                        "name": "offset",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "description": "Number or items to return when executing query. Defaults to 10. Use this conjuction with `offset` to paginate across the results.",
                        "name": "limit",
                        "required": false,
                        "type": "integer"
                    }
                ]
            }
        },
        "/order/{orderId}": {
            "get": {
                "responses": {
                    "200": {
                        "description": "Success processing your request.",
                        "schema": {
                            "$ref": "#/definitions/Order"
                        }
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated or token expired. Check your request header the `authorization` field is required."
                    },
                    "403": {
                        "description": "Server refused to process your request. Please check the API SLA and reduce number of requests per second."
                    },
                    "404": {
                        "description": "Object not found."
                    }
                },
                "description": "Returns all details of a single order, including last status, items shipped or not.",
                "tags": [
                    "orders"
                ],
                "summary": "Returns all details of a order",
                "operationId": "getOrderById",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "path",
                        "description": "Unique Id of this order.",
                        "name": "orderId",
                        "required": true,
                        "type": "string"
                    }
                ]
            }
        },
        "/order/{orderId}/shipments/cancel": {
            "post": {
                "responses": {
                    "200": {
                        "description": "Sucess."
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated or token expired. Check your request header the `authorization` field is required."
                    }
                },
                "description": "Confirm shipment canceletion (when requested by the customer) or failure to deliver one or more items",
                "tags": [
                    "orders"
                ],
                "summary": "Confirm shipment canceletion (when requested by the customer) or failure to deliver",
                "operationId": "postOrderShippmentCancelation",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/NewTrackingRefund"
                        }
                    },
                    {
                        "in": "path",
                        "description": "ID do pedido.",
                        "name": "orderId",
                        "required": true,
                        "type": "string"
                    }
                ]
            }
        },
        "/order/{orderId}/shipments/delivered": {
            "post": {
                "responses": {
                    "200": {
                        "description": "Sucessfully received transaction"
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated or token expired. Check your request header the `authorization` field is required."
                    }
                },
                "description": "Confirms that a shipment was delivered. Must inform quantity of sucessfully deliverd items even if items deliverd was less than the original order",
                "tags": [
                    "orders"
                ],
                "summary": "Confirms that a shipment was delivered",
                "operationId": "postOrderShippmentDelivered",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Newshipmentstatus"
                        }
                    },
                    {
                        "in": "path",
                        "description": "ID do pedido.",
                        "name": "orderId",
                        "required": true,
                        "type": "string"
                    }
                ]
            }
        },
        "/order/{orderId}/shipments/exchange": {
            "post": {
                "responses": {
                    "200": {
                        "description": "Sucessfully received transaction"
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated or token expired. Check your request header the `authorization` field is required."
                    }
                },
                "description": "This enpoint to confirm item exchange when failure to deliver or requested by the customer. All customer requests are tracket via trouble tickets",
                "tags": [
                    "orders"
                ],
                "summary": "Confirm item exchange",
                "operationId": "postOrderShippmentExchange",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/NewTrackingRefund"
                        }
                    },
                    {
                        "in": "path",
                        "description": "ID do pedido.",
                        "name": "orderId",
                        "required": true,
                        "type": "string"
                    }
                ]
            }
        },
        "/order/{orderId}/shipments/return": {
            "post": {
                "responses": {
                    "200": {
                        "description": "Sucessfully received transaction"
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated or token expired. Check your request header the `authorization` field is required."
                    }
                },
                "description": "Use this endpoint to return and refund items froma a order. In order to fully return an order list all items and applicate quantity.",
                "tags": [
                    "orders"
                ],
                "summary": "Confirm order item return and refund",
                "operationId": "postOrderShippmentReturn",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/NewTrackingRefund"
                        }
                    },
                    {
                        "in": "path",
                        "description": "Order unique Id",
                        "name": "orderId",
                        "required": true,
                        "type": "string"
                    }
                ]
            }
        },
        "/order/{orderId}/shipments/sent": {
            "post": {
                "responses": {
                    "200": {
                        "description": "Sucessfully received transaction"
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated or token expired. Check your request header the `authorization` field is required."
                    }
                },
                "description": "Updates order to include shipment shiped information. This endpoint can be used to include a single or multiple shipments for any give order. In order to inform that all items of a order where shipped list all of them, including applicable quantities in the payload.",
                "tags": [
                    "orders"
                ],
                "summary": "Update new order to include shipment information",
                "operationId": "postOrdershipmentsent",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Newshipmentstatus"
                        }
                    },
                    {
                        "in": "path",
                        "description": "ID do pedido.",
                        "name": "orderId",
                        "required": true,
                        "type": "string"
                    }
                ]
            }
        },
        "/tickets": {
            "get": {
                "responses": {
                    "200": {
                        "description": "Success processing your request.",
                        "schema": {
                            "$ref": "#/definitions/GetTickets"
                        }
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "404": {
                        "description": "Object not found."
                    }
                },
                "description": "Allows seller to receive and status, queries, requests and complaints from customers. As well related messages",
                "tags": [
                    "tickets"
                ],
                "summary": "Get customers trouble tickets",
                "operationId": "GetTickets",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "query",
                        "description": "Query by trouble ticket status",
                        "name": "status",
                        "required": false,
                        "type": "string",
                        "enum": [
                            "OPEN",
                            "REOPENED",
                            "CLOSE"
                        ]
                    },
                    {
                        "in": "query",
                        "description": "Number or items to skip when executing query. List starts at zero. If omitted will default to zero. Use this conjuction with `limit` to paginate across the results.",
                        "name": "offset",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "description": "Number or items to return when executing query. Defaults to 10. Use this conjuction with `offset` to paginate across the results.",
                        "name": "limit",
                        "required": false,
                        "type": "integer"
                    }
                ]
            }
        },
        "/ticket": {
            "post": {
                "responses": {
                    "200": {
                        "description": "Success processing your request."
                    },
                    "400": {
                        "description": "Bad request."
                    }
                },
                "description": "Use this service to initiate a new comunicaiton channel with the customer. Use this to send messages to the customer. Whenever possible this will be pushed to Mobile and email. This is the primary mean of comunicaiton with the customer regarding orders, shippments, shippments status",
                "tags": [
                    "tickets"
                ],
                "summary": "Creates a new trouble ticket",
                "operationId": "postTicket",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "body",
                        "description": "JSON object with new trouble ticket",
                        "name": "newTicket",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/NewTicket"
                        }
                    }
                ]
            }
        },
        "/ticket/{ticketId}/messages": {
            "get": {
                "responses": {
                    "200": {
                        "description": "Sucess!",
                        "schema": {
                            "$ref": "#/definitions/GetTicketMessagesResponse"
                        }
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated or token expired. Check your request header the `authorization` field is required."
                    },
                    "403": {
                        "description": "Access denied. You can only access your trouble tickets"
                    }
                },
                "description": "Returns trouble ticket history with all messages exchanged. Only tickets related to your seller will be returned. Attempt to read other tickets will return 403 (acess denied).",
                "tags": [
                    "tickets"
                ],
                "summary": "Get trouble ticket messages",
                "operationId": "GetTicketMessages",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "path",
                        "description": "Trouble ticket ID.",
                        "name": "ticketId",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "description": "Number or items to skip when executing query. List starts at zero. If omitted will default to zero. Use this conjuction with `limit` to paginate across the results.",
                        "name": "offset",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "in": "query",
                        "description": "Number or items to return when executing query. Defaults to 10. Use this conjuction with `offset` to paginate across the results.",
                        "name": "limit",
                        "required": false,
                        "type": "integer"
                    }
                ]
            }
        },
        "/ticket/{ticketId}/message": {
            "post": {
                "responses": {
                    "200": {
                        "description": "Success processing your request."
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "404": {
                        "description": "Object not found."
                    }
                },
                "description": "Add a new message to this trouble ticket. Messages can be `CUSTOMER` (customer will be able to see it) or `INTERNAL`.",
                "tags": [
                    "tickets"
                ],
                "summary": "Add new message to trouble ticket",
                "operationId": "postTicketMessage",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "path",
                        "description": "Trouble ticket ID.",
                        "name": "ticketId",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "description": "New message object to append to trouble ticket.",
                        "name": "message",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/NewTicketMessage"
                        }
                    }
                ]
            }
        },

        "/ticket/{ticketId}/status": {
            "put": {
                "responses": {
                    "200": {
                        "description": "Sucessfully received transaction"
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated or token expired. Check your request header the `authorization` field is required."
                    },
                    "403": {
                        "description": "Server refused to process your request. Please check the API SLA and reduce number of requests per second."
                    },
                    "404": {
                        "description": "Object not found."
                    }
                },
                "description": "Alows the seller to update the status of a trouble ticket",
                "tags": [
                    "tickets"
                ],
                "summary": "Update trouble ticket status",
                "operationId": "putTicketStatus",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "path",
                        "description": "Trouble ticket unique identification",
                        "name": "ticketId",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "description": "New trouble ticket status",
                        "name": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/TicketStatus"
                        }
                    }
                ]
            }
        },
        "/marketplaces": {
            "get": {
                "parameters": [
                    {
                        "in": "header",
                        "description": "Authorization token. The Authorization token can be found in your Admin console.",
                        "name": "authorization",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success processing your request.",
                        "schema": {
                            "$ref": "#/definitions/GetMarketplaces"
                        }
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Access denied. You're not authenticated or token expired. Check your request header the `authorization` field is required."
                    },
                    "403": {
                        "description": "Server refused to process your request. Please check the API SLA and reduce number of requests per second."
                    },
                    "404": {
                        "description": "Object not found."
                    }
                },
                "description": "Returns a list with marketplaces detailed information.",
                "tags": [
                    "marketplaces"
                ],
                "summary": "Returns a list with marketplaces",
                "operationId": "getMarketplaces",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ]
            }
        }
    },

    "securityDefinitions": {
        "authorization": {
            "type": "apiKey",
            "in": "header",
            "name": "authorization",
            "description": "Authorization token. The Authorization token can be found in your Admin console."
        }
    },
    "tags": [
        {
            "name": "products",
            "description": "Bulk upload or query seller products."
        },
        {
            "name": "product",
            "description": "Create, Modify or Read details of a single product"
        },
        {
            "name": "orders",
            "description": "Bulk upload or query orders"
        },
        {
            "name": "order",
            "description": "Modify or read details of a single order"
        },
        {
            "name": "tickets",
            "description": "Bulk upload or query customer tickets"
        },
        {
            "name": "ticket",
            "description": "Modify or read details of a single ticket"
        },
        {
            "name": "marketplaces",
            "description": "Returns marketplaces details"
        }
    ],
    "definitions": {
        "Metadata": {
            "required": [
                "key",
                "value"
            ],
            "properties": {
                "key": {
                    "type": "string",
                    "description": "JSON attribute key"
                },
                "value": {
                    "type": "string",
                    "description": "JSON object value"
                }
            }
        },
        "Error": {
            "required": [
                "type",
                "message"
            ],
            "properties": {
                "type": {
                    "type": "string",
                    "description": "Error type"
                },
                "message": {
                    "type": "string",
                    "description": "Friendly message describing the error"
                },
                "skuSellerId": {
                    "type": "string",
                    "description": "When applicabe will include `skuSellerId` related to this error"
                }
            }
        },
        "GetProductsResponse": {
            "properties": {
                "skus": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/ProductResponseItem"
                    }
                },
                "metadata": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Metadata"
                    },
                    "description": "Payload with response"
                }
            }
        },
        "Product": {
            "required": [
                "skuSellerId",
                "title",
                "description",
                "brand",
                "price",
                "categories",
                "stock",
                "images",
                "attributes"
            ],
            "properties": {
                "productId": {
                    "type": "string",
                    "description": "Brand Lovers Product ID. Use this to suggest a product association. This field is optional."
                },
                "skuSellerId": {
                    "type": "string",
                    "description": "Unique Product Id (SKU) in the seller system"
                },
                "productGroupId": {
                    "type": "string",
                    "description": "Unique Product Group ID. Products with the same `productGroupId` will be grouped and displayed as a unique entry. Use `productGroupId` to group diferent SKUs that represent diferent colors, sizes, capacities, etc.."
                },
                "title": {
                    "type": "string",
                    "description": "Product name as advertised by manufacturer. This will be displayed in the Marketplace"
                },
                "description": {
                    "type": "string",
                    "description": "Product description."
                },
                "brand": {
                    "type": "string",
                    "description": "Brand name"
                },
                "gtin": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    },
                    "description": "Array of product EAN and/or ISBN and/or ASIN codes"
                },
                "categories": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    },
                    "description": "Categories that this product belong to"
                },
                "images": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    },
                    "description": "List of valid Product image URLs. HTTP or HTTPS are valid. However HTTPS is prefered."
                },
                "videos": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    },
                    "description": "List of valid Product image URLs. HTTP or HTTPS are valid. However HTTPS is prefered."
                },
                "price": {
                    "$ref": "#/definitions/ProductPrice"
                },
                "stock": {
                    "$ref": "#/definitions/ProductStock"
                },
                "dimensions": {
                    "$ref": "#/definitions/Dimensions"
                },
                "giftWrap": {
                    "$ref": "#/definitions/GiftWrap"
                },
                "attributes": {
                    "type": "array",
                    "description": "List of `key` `value` attributes of this product. This is very important for search and SEO optmization. Include all relevant information",
                    "items": {
                        "$ref": "#/definitions/ProductAttribute"
                    }
                }
            }
        },
        "ProductUpdate": {
            "properties": {
                "productId": {
                    "type": "string",
                    "description": "Brand Lovers Product Id. Use this to recommend a product association"
                },
                "skuSellerId": {
                    "type": "string",
                    "description": "Unique Product Id (SKU) in the seller system"
                },
                "productGroupId": {
                    "type": "string",
                    "description": "Unique Product Group ID. Products with the same `productGroupId` will be grouped and displayed as a unique entry. Use `productGroupId` to group diferent SKUs that represent diferent colors, sizes, capacities, etc.."
                },
                "title": {
                    "type": "string",
                    "description": "Product name as advertised by manufacturer. This will be displayed in the Marketplace"
                },
                "description": {
                    "type": "string",
                    "description": "Product text description."
                },
                "brand": {
                    "type": "string",
                    "description": "Brand name"
[...]
